<!-- BEGIN devconfcz-2019-eventpage -->

<div class="content">
  <div class="container event-container">
    <div class="material-full-bottom">
      <img data-original="{{ '/images/canva/devconf-cz-2019-brno-header.jpg'|url }}" class="preload-image no-bottom responsive-image" alt="img" />

      <div class="menu-bottom-bar menu-bottom-bar-three light-menu-bar menu-bottom-bar-text flat-menu-bar no-top cfp-menu">
        <a href="https://devconf.info/cfp" target="_blank" class="border-blue-dark"><i class="fa fa-code"></i><em>Submit a proposal</em></a>
        <a href="https://devconf.info/cfp" target="_blank" class="border-magenta-dark selected-bottom-bar"><i class="fa fa-bullhorn"></i><em>Run a booth</em></a>
        <a href="https://devconf.info/cfp" target="_blank" class="border-orange-dark"><i class="fa fa-coffee"></i><em>Host a meet-up</em></a>
        <div class="clear"></div>
      </div>

      <div class="notification-small border-green-dark">
	  <strong class="bg-green-dark"><i class="fa fa-info"></i></strong>
	   <p>{{_('<a href="https://devconf.info/cz/2019/faq" target="_blank">FAQ site is ready for you</a>') }}</p>
      </div>

      <div class="notification-small border-orange-dark">
	  <strong class="bg-orange-dark"><i class="fa fa-info"></i></strong>
	  <p> {{_('<a href="https://devconfcz2019.sched.com/" target="_blank">Schedule</a> is now available') }}</p>
      </div>


      <div class="decoration-line-fade decoration-margins"></div>
      <div class="responsive">
        <p>{{ _('DevConf.CZ 2019 is the 11th annual, free, <a href="https://redhat.com">Red Hat</a> sponsored community conference for developers, admins, DevOps engineers, testers, documentation writers and other contributors to open source technologies
          such as Linux, Middleware, Virtualization, Storage, Cloud and mobile where FLOSS communities sync, share, and hack on upstream projects together in the beautiful city of Brno, Czech Republic.') }}</p>
          <p>{{ _('There is no admission or ticket charge for DevConf.CZ events. Free registration is required though. <a href="https://devconf.info/subscribe" target="_blank">Stay tuned</a> to receive updates about registration.') }}</p>

	<p>{{_('We are committed to fostering an open and welcoming environment at our conference. We are setting expectations for inclusive behavior through our <a href="https://devconf.info/coc.html" target="_blank">code of conduct</a> and <a href="https://devconf.info/media-policy.html" target="_blank">media policies</a>, and are prepared to enforce these.') }}</p>
        <p><strong>{{ _('When') }}:</strong> {{ _('January 25-27, 2019') }}</p>
        <p><strong>{{ _('Venue') }}:</strong> {{ _('Faculty of Information Technology (VUT FIT - Božetěchova 2, Brno) ') }}</p>
	<p><strong>{{ _('Acessibility') }}:</strong> {{ _('the venue is accessible for weelchairs, checkout - <a href="http://cphoto.fit.vutbr.cz/fit/" target="_blank">venue virtual tour</a> ') }}</p>
          <p>{{ _('You should consider attending this DevConf.cz event if you are') }}:</p>
          <ul>
            <li>{{ _('A developer') }}</li>
            <li>{{ _('A technology architect') }}</li>
            <li>{{ _('An IT consultant') }}</li>
            <li>{{ _('An IT student or a teacher from an IT university/faculty') }}</li>
            <li>{{ _('Or simply an IT enthusiast interested in the latest trends in open source and emerging digital technologies') }}</li>
          </ul>

          <h3>{{ _('Registration') }}:</h3>
          <h4>{{ _('Pre-registration and ticket sales for DevConf.cz have ended.  Limited At-the-door registration will be available.') }}:</h4>
          <p>{{ _('We have had a huge number of people take advantage of our tickets. We can’t wait to see everyone at the conference.') }}:</p>
          <p>{{ _('At this time, we have closed the wait list and stopped ticket sales. However, as in years past, we will be letting people register at the door while we have space. If this year is like previous years, we will be able to let the most people in on Saturday and Sunday as Friday tends to be our busiest day.') }}:</p>
          <p>{{ _('When you arrive, please let the registration folks know that you don’t have a ticket and they will let you know if we can let you register at that time or suggest a time to return.') }}:</p>

          <!--
          <ul>
            <li>{{ _('Online registration opens: December 18, 2018 <a style="display: inline-block" target="_blank" href="https://www.eventbrite.com/e/devconfcz-2019-tickets-53807645115">Register For Free Now</a>') }}</li>
            <li>{{ _('On-site (at venue) registration is possible between 8AM-10AM each day, but it there is limited capacity. You are strongly encouraged to register online to ensure you have a ticket.') }}</li>
          </ul> -->

          <h3>{{ _('Schedule') }}:</h3>
          <ul>
              <li>{{ _('The <a style="display: inline-block" target="_blank" href="https://devconfcz2019.sched.com/">schedule</a> is now available. The schedule is updated periodically as new information becomes available.') }}</li>
          </ul>
      <a name="themes"></a>
      <p>{{_('DevConf.CZ is welcoming speakers with different levels of experience. It offers first time speakers a great venue to sharpen their presentation skills and share their knowledge. Additionaly, we are going to host presentations by several young speaker under age of 19 interested in open source. See <a href="/youth_friendly/index.html">Youth Friendly DevConf.CZ</a> for more informaiton.') }}</p>
      <p>{{_('We provide hotel accommodations for all speakers. In an effort to create a more diverse and inclusive event, we will offer diversity scholarships that cover other travel-related expenses for a number of accepted speakers from outside of Red Hat who are students or are relatively new or returning to full-time work in technology. As DevConf.CZ is the DevConf for the Europe, Middle East, and Africa region, these scholarships will be available to speakers from these locations. The scholarships will provide up to 1,000 USD towards transportation, food, child care, and other expenses. If your session proposal is accepted and you need travel assistance, you will have an opportunity to apply for such scholarship. Decisions will be made based on applicants’ experience with Red Hat-supported and other open source technologies and based on being a student or being new or returning to full-time work in technology.') }}</p>
      <a name="themes"></a>
      <p class="half-bottom">{{ _('We are seeking presentation and workshop proposals that cover, but are not limited to, the following topics:') }}:</p>
      <div class="one-half-responsive">
        <ul>
          <li class="full-bottom" style="font-size:1em!important">{{ _('<b>Agile, DevOps & CI/CD</b> - The Agile, DevOps & CI/CD track is intended to address the practices, methods and tooling that technical audiences need to deliver increased business value and responsiveness through rapid, high-quality delivery.  Topics include engineering best practices, defining and building Agile & DevOps cultures, Open Source tools to make Developers and Operations successful, continuous integration/delivery/deployment of enterprise software, and many more.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Blockchain</b> - Blockchain related technology or use-cases leveraging the Hyperledger framework. Do not submit ICOs or pitch talks to the altcoin where you invested a lot of money.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Cloud and Containers</b> - Cloud, containers, clusters. Buildah, CRI-O, Docker, Kubernetes, Skopeo. Hybrid cloud and other buzzwords - your cloud and container topics go here. Daemons of all sizes and shapes.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Community</b> - Building open source software is more than just about coding. Learn about the many aspects of creating and maintaining healthy, robust, and diverse open source communities.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Immutable OS</b> - Everything from the previous CoreOS and Atomic operating systems to the new Fedora CoreOS, an automatically updating, minimal, monolithic, container-focused operating system, designed for clusters while also operable standalone. Server-related topics around rpm-ostree too.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Debug / Tracing</b> - Developer tools for debugging and tracing your application and its enviroment.  Kernel level to userland application level.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Desktop</b> - Traditional and new package management tools, GUI applications, optimizations for the desktop, anything desktop-related goes here.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Developer Tools</b> - Developer tools for planning, creating, compiling, running, and analyzing code.  Including programming languages (Python, C/C++, Java, Ruby), frameworks and online development environments.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Documentation</b> - Guides, manuals, howtos, articles, and other kinds of help content. New ideas, documentation workflows, user-story focus, modularity, and automation.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Fedora</b> - All things Fedora!') }}</li>
        </ul>
      </div>
      <div class="one-half-responsive last-column">
        <ul>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Frontend / UI / UX</b> - The Frontend/UX/UI track is intended to address user experience design, user interface design, and front end development. Topics include: processes and tools related to design and frontend development, approaches to research and collecting user feedback, and strategies towards increased transparency for design and development across teams.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Kernel</b> - All things Linux Kernel') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>IoT (Internet of Things)</b> - Data crunching applications, microcontrollers, protocols and embedded software. Development and testing tools. Deployment and maintenance techniques. Security challenges and interesting use cases.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Microservices</b> - Microservices architecture, design, challenges, patterns and testing. Including RHOAR based technologies(Vert.x, Spring Boot, Node.js, Thorntail, MicroProfile, Fuse) and other platforms, including development & production related topics.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Middleware</b> - Infrastructure exists to run applications, and applications are built on Middleware.  Red Hat has several runtimes and services designed to integrate with our platforms for efficient performance and rapid development.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>ML / AI / Big Data</b> - Development tools for data engineering and data science, model development and deployment, interesting models to solve problems, e.g., in software engineering, system/cloud administration.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Networking</b> - What is on the horizon for the next 3-12 months for networking. What is work in progress and will land in next few months. What are the directions we would want to take things in. How can networking solve some of the existing problems for our customers, our layered products. How can networking solve the bottlenecks in layered products.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Platform / OS</b> - Anything related to GNU/Linux base operating system - when it does not better fit to other tracks ;)') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Quality / Testing</b>	- Automation, STLC, QE frameworks, QE in Open Source, basically all things Quality Engineering!') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Security / IdM</b> - Secure infrastructure and identity management on Linux') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Storage / Ceph / Gluster</b> - Storage infrastructure, including topics from low-level to software-defined distributed storage systems.') }}</li>
          <li class="half-bottom" style="font-size:1em!important">{{ _('<b>Virtualization</b> - Virtualization from low level kernel support to high level management tools, and everything in between, such as userspace runtimes and libraries. Multiple architecture support for Virtualization is evolving. User level tuning and experiences with Virtualization are also great topics. ') }}</li>
      </ul>
      <p class="full-top" style="font-size:.8em!important">{{ _('Note: All talks, presentations, and workshops will be in English.') }}</p>
    </div>

    <div class="clear"></div>
    <h3>{{ _('Diversity scholarships') }}:</h3>
    <p>{{ _('In an effort to create a more diverse and inclusive event, we are offering diversity scholarships that cover travel-related expenses for attendees from outside of Red Hat who are students or are relatively new or returning to full-time work in technology. As DevConf.CZ is the DevConf for the Europe, Middle East, and Africa region, these scholarships are only available to people from these locations. The scholarships provide up to 1,000 USD towards transportation, hotel, food, child care, and other expenses. Decisions will be made based on applicants’ experience with Red Hat-supported and other open source technologies and based on being a student or being new or returning to full-time work in technology. You can find more details and apply by 5pm UTC on Friday, January 11 <a href="https://goo.gl/forms/cOYvpGRnFiZjvJ0B2">here</a>.') }}</p>

    <div class="clear"></div>
    <div class="responsive">
      <h3>{{ ('Important dates') }}</h3>
      <ul>
        <li>{{ _('CfP closes') }}: {{ _('October 26, 2018') }}</li>
        <li>{{ _('Accepted speakers confirmation') }}: {{ _('November 19, 2018') }}</li>
        <li>{{ _('Schedule published') }}: {{ _('December 18, 2018') }}</li>
        <li>{{ _('Event dates') }}: {{ _('Friday, January 25 to Sunday, January 27, 2019') }}</li>
      </ul>
    </div>

  <div class="clear"></div>

  <div class="responsive">
        <h3 class="center-text full-bottom">Memories from 2018</h3>
        <div class="gallery gallery-square no-bottom">
          {% for f in range(1, 26) %}
          <a class="show-gallery" href="{{ ('/images/gallery/devconf-cz-2018-event-photos/' + f|string + '.jpg')|url }}" alt="img" title="Image Caption">
                <img class="preload-image responsive-image" data-original="{{ ('/images/gallery/devconf-cz-2018-event-photos/' + f|string + '.jpg')|url }}" alt="img">
            </a> {% endfor %}
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    {% include 'cz/2019/devconfcz-2019-sponsors.html' %}

  </div>
</div>
<!-- END devconfcz-2019-eventpage -->
