<!-- BEGIN devconfus-2018-eventpage -->
<div class="content">
  <div class="container event-container">

    <div class="material-full-bottom">
      <img data-original="{{ '/images/canva/devconf-in-2018-header-3.jpg'|url }}" class="preload-image no-bottom responsive-image" alt="img" />

      <div class="menu-bottom-bar menu-bottom-bar-four light-menu-bar menu-bottom-bar-text flat-menu-bar no-top cfp-menu">
        <a href="{{ '/devconf-error-cfp-not-open.html' }}" target="_blank" class="border-blue-dark"><i class="fa fa-code"></i><em>Submit a proposal</em></a>
        <a href="{{ '/devconf-error-cfp-not-open.html' }}" target="_blank" class="border-magenta-dark selected-bottom-bar"><i class="fa fa-bullhorn"></i><em>Run a booth</em></a>
        <a href="{{ '/devconf-error-cfp-not-open.html' }}" target="_blank" class="border-orange-dark"><i class="fa fa-coffee"></i><em>Host a BoF</em></a>
        <a href="{{ '/devconf-error-cfp-not-open.html' }}" target="_blank" class="border-night-light"><i class="fa fa-group"></i><em>Volunteer</em></a>
        <div class="clear"></div>
      </div>

      <div class="notification-small border-red-dark" style="margin-bottom: 5px; margin-top: 5px">
          <strong class="bg-red-dark"><i class="fa fa-info"></i></strong>
          <p>{{_('Online registration SOLD OUT') }} </i></a></p>
      </div>

      <div class="notification-small border-blue-dark" style="margin-bottom: 5px; margin-top: 5px">
          <strong class="bg-blue-dark"><i class="fa fa-info"></i></strong>
          <p>{{ _('Schedule is public') }} <a href="https://devconf.info/in/2018/schedule" target="_blank"><i class="fa fa-external-link"></i></a></p>
      </div>

      <div class="decoration-line-fade decoration-margins"></div>
      <div class="responsive">
        <p>{{ _('DevConf.in 2018 is the second annual Developers&#39; Conference to be organised by <a href="https://redhat.com">Red Hat</a> in Bengaluru, India. It is meant to provide a platform to the local FOSS community participants to come together and engage in the knowledge sharing through technical talks, workshops, panel discussions, hackathon and such activities.')}}</p>
        <p><strong>{{ _('When') }}:</strong> {{ _('August 4-5, 2018') }}</p>
        <p><strong>{{ _('Venue') }}:</strong> {{ _('<a href="https://christuniversity.in/" target="_blank">Christ University</a> - Bengaluru, India') }}
          <p>{{ _('You should consider attending this DevConf event if you are') }}:</p>
          <ul>
            <li>{{ _('A developer') }}</li>
            <li>{{ _('A technology architect') }}</li>
            <li>{{ _('An IT consultant') }}</li>
            <li>{{ _('An IT student or a teacher from an IT university/faculty') }}</li>
            <li>{{ _('Or simply an IT enthusiast interested in the latest trends in open source and emerging digital technologies') }}</li>
          </ul>
          <p>{{ _('DevConf events are free, without admission or ticket charge. On-line registration is required though.') }}</p>
          <p>{{ _('Talks, presentations, workshops (etc) will all be in English.') }}</p>

          <p>{{ _('The primary event themes this year are') }}:</p>
          <ul>
            <li>{{ _('Agile') }}</li>
            <li>{{ _('Machine Learning and Artificial Intelligence') }}</li>
            <li>{{ _('Cryptography / Block Chain') }}</li>
            <li>{{ _('Networking / Security Technologies / Research') }}</li>
            <li>{{ _('Automation / Configuration Management/ Infrastructure') }}</li>
            <li>{{ _('Cloud / Containers / DevOps') }}</li>
            <li>{{ _('Community building / Diversity') }}</li>
            <li>{{ _('Database / Storage') }}</li>
            <li>{{ _('Developer tools / Debugging / Tracing') }}</li>
            <li>{{ _('Design / UX') }}</li>
            <li>{{ _('Desktop') }}</li>
            <li>{{ _('Documentation') }}</li>
            <li>{{ _('Hardware / Kernel / OS / Platform') }}</li>
            <li>{{ _('IoT / Mobile') }}</li>
            <li>{{ _('Middleware') }}</li>
            <li>{{ _('QA Testing, Performance Optimization, Web Workload') }}</li>
            <li>{{ _('Virtualization') }}</li>
            <li>{{ _('Workshop') }}</li>
            <li>{{ _('Serverless computing') }}</li>
            <li>{{ _('Customer-Use cases') }}</li>
            <li>{{ _('Messaging queues') }}</li>
          </ul>

          <h3>{{ ('Important dates') }}:</h3>
          <ul>
            <li>{{ _('CfP Opens') }}: <b>{{ _('March 19, 2018') }}</b></li>
            <li>{{ _('CfP Closes') }}: <b>{{ _('May 4, 2018') }}</b></li>
            <li>{{ _('Accepted speakers confirmation') }}: <b>{{ _('June 11, 2018') }}</b></li>
            <li><strike>{{ _('Accepted speakers confirmation') }}: <b>{{ _('June 4, 2018') }}</b></strike></li>
            <li>{{ _('Schedule published') }}: <b>{{ _('June 11, 2018') }}</b></li>
            <li>{{ _('Registration opens') }}: <b>{{ _('June 11, 2018') }}</b></li>
            <li>{{ _('Event dates') }}: <b>{{ _('Saturday, August 4 to Sunday, August 5, 2018') }}</b></li>
          </ul>

      </div>
      <div class="clear"></div>
    </div>

    {% include 'in/2018/devconfin-2018-attendee-guidelines.html' %}

    {% include 'in/2018/devconfin-2018-sponsors.html' %}

  </div>
</div>
<!-- END devconfus-2018-eventpage -->
