{% extends "base.html" %}

{% block title %}
    <title>DevConf.cz Roadshow - Containers Prague 2017</title>
{% endblock %}

{% block body %}

    <!-- Home Section -->
    <header id="intro" class="intro-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 intro-content">
            <div> 
               <a href="#">
                  <img src="img/devconf-cz-prgcont-cz-basic.png" style="width: 45%;" /> 
               </a>
            </div>

            <div class="tagline">Containers Roadshow</div>

            <div class="time-and-place">
              <address class="cs">Národní technická knihovna</address>
              <address class="cs">Praha 6, Česká Republika</address>
              <address class="en">Czech National Library of Technology</address>
              <address class="en">Prague 6, Czech Republic</address>
              <div class="date">
                <time datetime="2017-04-19" class="cs">Středa, 19. dubna 2017</time>
                <time datetime="2017-04-19" class="en">April 19th, 2017</time>
              </div>
            </div>
            <p class="cs orange">Přednášky, prezentace i workshopy budou v češtině.</p>
            <p class="en orange">Presentations and workshops will be in Czech.</p>
          </div>

          <div class="col-sm-offset-2 col-sm-8 intro-content">
            <h2 class='description cs'>
              DevConf.cz ve spolupráci s komunitou <a href="http://prgcont.cz/">Prague Containers</a> Vám přináší první každoročně pořádanou komunitní konferenci zaměřenou na kontejnery. Konference je jednodenní, zcela zdarma a koná se v Praze.
            </h2>
            <h2 class='description en'>
              DevConf.cz in collaboration with the Prague Containers community bring you the first annual, free, one day containers focused community conference in Prague.
            </h2>
          </div>

          <div class="col-sm-offset-2 col-sm-4 intro-content">
            <a href='http://bit.ly/devconfcz-17-roadshow-containers-registration'>
              <i class="fa fa-sign-in" style='font-size: 4em; padding: .2em; margin-right: 0' aria-hidden="true"></i>
            <div class = "alert alert-success">
              <b class="cs">Zaregistruj se</b>
              <b class="en">Registration</b>
            </a>
            </div>
            <h4 class='cs'><i>Registrace ZDARMA. Omezená kapacita!</i></h4>
            <h4 class='en'><i>FREE registration. Limited capacity!</i></h4>
          </div>

          <div class="col-sm-4 intro-content">
            <a href='#schedule'>
              <i class="fa fa-calendar-o" style='font-size: 4em; padding: .2em; margin-right: 0' aria-hidden="true"></i>
            <div class = "alert alert-success">
              <b>Program</a></b>
            </div>
            <h4 class="cs"><i>1 den, 8 přednášek + 2 workshopy</i></h4>
            <h4 class="en"><i>1 day, 8 talks + 2 workshops</i></h4>
          </div>
        </div>

         <!-- this should just sit some 2em or something about the bottom of the screen -->
         <div class="col-sm-12">
           <a href="#sponsors" onclick="scroll_to_section('#sponsors')" style="color: #8786df;"><i class="fa fa-chevron-circle-down next-page" aria-hidden="true"></i></a>
         </div>
    </header>

    <section id="schedule" class="schedule-section">
          <h2 class="cs">Program</h2>
          <h2 class="en">Program</h2>
          <div class="col-sm-offset-2 col-sm-8">
              <!-- 
               agenda template bootstrap
               source: http://bootsnipp.com/snippets/featured/agenda
              -->
              <h1 class="cs">Středa, 19. dubna 2017</h1>
              <h1 class="en">Wednesday April 19, 2017</h1>
              <p class="cs red">Registrace na místě: 09:00 - 10:00</p>
              <p class="en red">On-site registration: 09:00 - 10:00</p>
              <br/>
              <div class="agenda">
                  <div class="table-responsive">
                      <table class="table table-condensed table-white-bg larger" cellspacing="0" cellpadding="0">
                          <tbody>
                              <tr>
                                  <td class="agenda-room" rowspan="9">
                                      <p class="cs">Přednáškový sál</p>
                                      <p class="en">Lecture Hall</p>
                                  </td>
                                  <td class="agenda-time">
                                      10:00 - 10:45
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p class="cs">
        Automatizujte vývoj moderních aplikací pomocí kontejnerů a OpenShiftu - Radek Vokál + Jiří Kolář</p>
                                         <p class="en">
        Automate modern app development with containers and OpenShift - Radek Vokál + Jiří Kolář</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      10:45 - 11:30 
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p class="cs">
        Linuxové kontejnery - DIY - Vilibald Wanča</p>
                                         <p class="en"> 
        Linux Containers - the DIY way - Vilibald Wanča</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      11:30 - 12:15
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p class="cs">
       Jak vyvíjet kontejnery ve světě podnikání - Honza Horák</p>
                                         <p class="en">
       How to develop containers for the enterprise - Honza Horák</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      12:15 - 13:00
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                          <p class="cs">
      Docker kontejnery a černé díry - Matúš Kocka + František Kluknavský</p>
                                         <p class="en">
      Docker containers and black holes - Matúš Kocka + František Kluknavský</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      13:00 - 13:45
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p class="cs">Přestávka na oběd</p>
                                         <p class="en"><i>Lunch Break</i></p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      13:45 - 14:30
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p class="cs">
       Správa kontejnerů s Ansible - Peter Schiffer </p>
                                         <p class="en">
       Managing containers with Ansible - Peter Schiffer </p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      14:30 - 15:15
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p class="cs">
       Kontejnery v produkci - Stanislav Polášek (Elos Technologies, Red Hat Premier Business partner)</p>
                                         <p class="en">
       Containers in Production - Stanislav Polášek (Elos Technologies, Red Hat Premier Business partner)</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      15:15 - 16:00
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p class="cs">
       OpenShift pipelines - Vašek Pavlín</p>
                                         <p class="en">
       OpenShift pipelines - Vašek Pavlín</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      16:00 - 16:45
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                        <p class="cs">
       Čas na demo! - Vašek Pavlín + David Bečvařík</p>
                                        <p class="en">
       Demo time! - Vašek Pavlín + David Bečvařík</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-room" rowspan="3">
                                    <p class="cs">Místnost pro workshopy</p>
                                    <p class="en">Workshop Room</p>
                                  </td>
                                  <td class="agenda-time"></td>
                                  <td class="agenda-events"></td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      11:30 - 13:00
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                        <p class="cs">
      Pokročilá témata o kontejnerech - Tomáš Tomeček, Peter Schiffer</p>
                                        <p class="en">
      Advanced container deep-dive - Tomáš Tomeček, Peter Schiffer</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      13:30 - 15:00
                                  </td>
				  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p class="cs">
       Naučte se základy OpenShiftu - Jiří Kolář</p>
                                         <p class="en">
       Learn OpenShift basics - Jiří Kolář
                                      </div>
                                  </td>
                              </tr>
                              
                          </tbody>
                      </table>
                      <br/><br/>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SPEAKERS -->
    <section id="speakers" class="speakers-section">
      <h2 class="cs">Přednášející</h2>
      <h2 class="en">Speakers</h2>
      <div class="container"><br><br>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-purple">
            <div class="panel-body">
                <img src="img/vwanca.jpg" class="pic_ina img-thumbnail"/>
                <div class="con_ina">
                <b> Vilibald Wanča </b><br>
                <p class="cs">Senior Software Engineer, Apiary</p>
                <p class="en">Senior Software Engineer, Apiary</p>
                </div>             
            </div>
            </div>
        </div>
            
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
            <div class="panel-body">
                <img src="img/dbecvarik.jpg" class="pic_ina img-thumbnail"/>
                <div class="con_ina">
                <b> David Bečvařík </b><br>
                <p class="cs">Community Leader at Prague Containers Meet-up</p>
                <p class="en">Community Leader at Prague Containers Meet-up</p>
                </div>             
            </div>
            </div>
        </div>
            
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-purple">
            <div class="panel-body">
                <img src="img/spolasek.jpg" class="pic_ina img-thumbnail"/>
                <div class="con_ina">
                <b> Stanislav Polášek </b><br>
                <p class="cs">Managing Director, ELOS Technologies s.r.o.</p>
                <p class="en">Managing Director, ELOS Technologies s.r.o.</p>
                </div>             
            </div>
            </div>
        </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
                <div class="panel-body">
                    <img src="img/hhorak.jpg" class="pic_ina img-thumbnail"/>
                    <div class="con_ina">
                    <b> Honza Horák </b><br>
                    <p class="cs">Associate Manager, Software Engineering, Red Hat</p>
                    <p class="en">Associate Manager, Software Engineering, Red Hat</p>
                    </div>             
                </div>
            </div>
            </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
                <div class="panel-body">
                    <img src="img/jkolar.jpg" class="pic_ina img-thumbnail"/>
                    <div class="con_ina">
                    <b> Jiří Kolář </b><br>
                    <p class="cs">Red Hat Middleware Solution Architect for CZ-SK and CEE region</p>
                    <p class="en">Red Hat Middleware Solution Architect for CZ-SK and CEE region</p>
                    </div>             
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
                <div class="panel-body">
                    <img src="img/pschiffe.jpg" class="pic_ina img-thumbnail"/>
                    <div class="con_ina">
                    <b> Peter Schiffer </b><br>
                    <p class="cs">Senior Software Engineer, OpenShift, Red Hat</p>
                    <p class="en">Senior Software Engineer, OpenShift, Red Hat</p>
                    </div>             
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
                <div class="panel-body">
                    <img src="img/vpavlin.jpg" class="pic_ina img-thumbnail"/>
                    <div class="con_ina">
                    <b> Vašek Pavlín </b><br>
                    <p class="cs">Senior Software Engineer, Red Hat</p>
                    <p class="en">Senior Software Engineer, Red Hat</p>
                    </div>             
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
            <div class="panel-body">
                <img src="img/rvokal.jpg" class="pic_ina img-thumbnail"/>
                <div class="con_ina">
                <b> Radek Vokál </b><br/>
                <p class="cs">Senior Engineering Manager, Red Hat</p>
                <p class="en">Senior Engineering Manager, Red Hat</p>
                </div>             
            </div>
            </div>
        </div>
            
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
            <div class="panel-body">
                <img src="img/ttomacek.jpg" class="pic_ina img-thumbnail"/>
                <div class="con_ina">
                <b> Tomáš Tomeček </b><br/>
                <p class="cs">Senior Software Engineer, Red Hat</p>
                <p class="en">Senior Software Engineer, Red Hat</p>
                </div>             
            </div>
            </div>
        </div>
            
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
            <div class="panel-body">
                <img src="img/mkocka.jpg" class="pic_ina img-thumbnail"/>
                <div class="con_ina">
                <b> Matus Kocka </b><br/>
                <p class="cs">Software Engineer, Red Hat</p>
                <p class="en">Software Engineer, Red Hat</p>
                </div>             
            </div>
            </div>
        </div>
            
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
            <div class="panel-body">
                <img src="img/fkluknavsky.jpg" class="pic_ina img-thumbnail"/>
                <div class="con_ina">
                <b> František Kluknavský </b><br/>
                <p class="cs">Associate Software Engineer, Red Hat</p>
                <p class="en">Associate Software Engineer, Red Hat</p>
                </div>             
            </div>
            </div>
        </div>
      </div>
      </div>
    </section>

    <!-- VENUE -->
    <section id="venue" class="venue-section">
      <h2 class="cs">Místo konání</h2>
      <h2 class="en">Venue</h2>
      <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=14.38714385032654%2C50.10242083916527%2C14.393951296806337%2C50.10534545545261&amp;layer=mapnik&amp;marker=50.10388316962982%2C14.390547573566437" style="border: 0px solid black"></iframe>
    </section>

    <!-- Sponsors -->
    <section id="sponsors" class="sponsors-section">
      <h2 class="cs">Sponzoři</h2>
      <h2 class="en">Sponsors</h2>
      <div class="container">
        <h3 class="cs">Tuto událost Vám přináší</h3>
        <h3 class="en">This event is brought to you by:</h3>
        <div class="row">
          <div class="col-lg-12">
            <a href="https://www.redhat.com/en/global/czech-republic"><img alt="Red Hat, Czech" src="img/logo_redhat_rgb_default.png">
            <div class="sponsor-desc">
                <p class="en">World's leading provider of open source, enterprise IT solutions.</p>
                <p class="cs">World's leading provider of open source, enterprise IT solutions.</p>
            </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="cs">A je podporována našimi přáteli v</h4>
            <h4 class="en">And supported by our friends at:</h4>
          </div>

          <div class="col-lg-12 sponsor">
            <a href="https://www.meetup.com/Prague-Containers-Meetup/">
                <img alt="Prague Containers Meetup" src="img/containers.png">
                <div class="sponsor-desc">
                    <p class="en">Community with a mission to connect people interested in containers, cloud and devops topics.</p>
                    <p class="cs">Komunita, jejíž úkolem je propojit lidi se zájmem o kontejnery, cloud a devops.</p>
                </div>
            </a>
          </div>

          <div class="col-lg-6 sponsor">
            <a href="https://www.openshift.com">
                <img alt="OpenShift" src="img/openshift_logo_cropped_250w.png">
                <div class="sponsor-desc">
                <p class="en">OpenShift is an open source PaaS by Red Hat based on top of Docker containers and the Kubernetes container cluster manager for enterprise app development and deployment.</p>
                <p class="cs">OpenShift is an open source PaaS by Red Hat based on top of Docker containers and the Kubernetes container cluster manager for enterprise app development and deployment.</p>
                </div>
                </a>
          </div>

          <div class="col-lg-6 sponsor">
            <a href="https://mojefedora.cz">
                <img alt="MojeFedora CZ" src="img/cropped-mojefedora-250x-150y.png">
              <div class="sponsor-desc">
                <p class="en">Czech website about Fedora Linux distribution. Articles, guides, news and place for discussion at one place.</p>
                <p class="cs">Český web o linuxové distribuci Fedora. Na jednom místě naleznete odborné články, návody, aktuální informace o dění kolem distribuce a místo pro diskuzi.</p>
              </div>
            </a>
          </div>

          <div class="col-lg-12 sponsor">
            <a href="https://www.knihovna.cvut.cz/">
                <img alt="Ústřední knihovna ČVUT" src="img/uk_cvut_header.png">
                <div class="sponsor-desc">
                <p class="en">Národní technická knihovna (NTK) is the biggest and the oldes technical library in Czech Republic with capacity over 1.5 million books.</p>
                <p class="cs">Národní technická knihovna (NTK) je největší a nejstarší knihovna technické literatury v České republice s kapacitou přes 1,5 milionu svazků.</p>
                </div>
                </a>
          </div>

          <div class="col-lg-12 sponsor">
            <a href="http://www.elostech.cz/" alt="ELOS Technologies">
                <img alt="ELOS Technologies" src="img/logo-elos-technologies-small.png" class="padding-top-md">
                <div class="sponsor-desc">
                <p class="en">ELOS Technologies is a company operating in the Czech and Slovak market as a supplier of products and services for corporate solutions in the area of information technology.
Our corporate strategy is based on the adoption of new models of development, support, promotion and distribution of software, known as the "open source". We are convinced that the open source model provides our customers with significant financial and technological benefits.</p>
                <p class="cs">ELOS Technologies is a company operating in the Czech and Slovak market as a supplier of products and services for corporate solutions in the area of information technology.
Our corporate strategy is based on the adoption of new models of development, support, promotion and distribution of software, known as the "open source". We are convinced that the open source model provides our customers with significant financial and technological benefits.</p>
                </div>
            </a>
          </div>

        </div>
      </div>
    </section>

{% endblock %}
