/* notiications */

.notification-small p {
  text-align: center!important;
  line-height: 50px!important;
  font-weight: 700;
}

@media(max-width: 500px) {
  .notification-small p {
    font-size: 0.75em;
  }
}
/* content settings */

@media(min-width: 1000px) {
  .content, .content-material {
    /*padding-top: 0;*/
    /*margin: 0;*/
    margin-right: 20%;
    margin-left: 20%;
  }
}

/* event header */

/*
@media(min-width:1000px){
  .event-header {
    padding-left: 20%;
    padding-right: 20%;
  }
}
*/
/* toggles settings */
.toggle .toggle-title {
  line-height: unset;
}

/* colors */
.devconf-bg{
  background-color: #8e83e3;
  color: #FFFFFF;
  border:solid 1px #8e83e3;

}

.devconf-bg: hover {
  background-color: #4469b7;
  color: #FFFFFF;
  border:solid 1px #3b5998;
}

/* container settings */
/*
.event-container {
  min-width: 300px;
}
*/

/* divider settings */
.decoration-line-fade {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(142, 131, 227, 0.75), rgba(0, 0, 0, 0));
}

@media(min-width:1000px){
  /* maps settings */
  .maps {
    min-height: 600px;
  }
}

.maps {
  min-height: 250px;
}

/* accordion settings */

.accordion-toggle {
  font-size: .95em;
  font-weight: 400;
}

.accordion-content {
  font-size: .8em;
}

.toggle .toggle-title {
  line-height: 1.5em;
  padding-top: .25em;
}

/* Sidebard settings */

.sidebar-header-background {
    background-image:url(../images/bg/devconfcz-2017-audience-small.jpg);
    background-size:cover;
    height:150px;
}

/* Background and Color settings */

.bg {
    background-image:url(../images/bg/devconf-background.jpg);
}

.bg-md {
    background-image:url(../images/bg/devconf-background-md.jpg);
}

.bg-heading-strip-1 {
    background-image:url(../images/bg/devconfcz-2017-3dprint-fedora-md.jpg);
}

.dark-overlay {
    background-color:rgba(0,0,0,0.45);
}

.darker-overlay {
    background-color:rgba(0,0,0,0.85);
}


/* Typeface settings */

body, p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    /* font-size: .80em; */
}

p strong {
  font-size: 1em;
}

/* Container settings */

.container h1 {
    font-size: 3em;
}

.container p {
    color: #000000;
    line-height: 1.2em;
    margin-bottom: 10px;
}

.container li {
    list-style:none;
    line-height: 1em;
    margin-bottom: 3px;
    color: #000000;
    font-weight: 300;
}

.container img {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px
}

@media(min-width:1000px){
    .container p{
        font-size: 1.3em!important;
    }

    .container li{
        font-size: 1.3em!important;
    }
}



/* Material Settings */

.text-slider {
    background-color:#eeeeee!important;
}

.text-slider p{
    text-align: center!important;
    color: #000000!important;
    font-weight: 800;
}

@media(min-width: 400px){
    .text-slider p {
        font-size: 1em!important;
    }
}

@media(max-width: 400px){
    .text-slider p {
        font-size: .75em!important;
    }
}

/* Coverpage settings */

.coverpage-bottom {
    right: 7em;
}

.coverpage-bottom em {
    font-weight: 500;
    text-decoration: underline;
}

.coverpage-bottom h3 {
    color: #FFFFFF;
    padding-bottom: 10px;
    font-weight: 700;
}

.coverpage-bottom p {
    opacity: 0.8;
}



/* Footer settings */

.footer .footer-logo {
    background-image: url(../images/icon/devconf-icon.svg);
}

.footer p{
    color: #fff;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.1em;
    margin-bottom: 10px;
}

.footer-socials{
    width:300px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
}

.footer-dark .decoration{
    background-color:rgba(192, 57, 43, 0.30);
    max-width:290px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu-bottom-bar img {
    padding-top: 10px;
    margin-left:auto;
    margin-right:auto;
}

.menu-bottom-bar i {
    padding-right: 5px;
}

@media(max-width:600px){
  .menu-bottom-bar-text em {
    font-size: .7em!important;
  }
}

@media(max-width:400px){
  .menu-bottom-bar-text em {
    font-size: .5em!important;
  }
}

/* Footer menu settings */

.footer-menu-item img {
    width:50px;
    height:50px;
    border-radius:50px;
    line-height:50px;
    text-align:center;
    font-size:.7em;
    margin-left:20px;
    float:right;
    box-shadow:0 1px 2px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow:0 1px 2px 2px rgba(0,0,0,.10);
    background-color: rgba(255,255,255,100);
}

/* Header settings */

.header-dark {
    background-color: #000000;
}

.header {
    top: 0px!important;
    left: 0px!important;
    right: 0px!important;
}

.header-logo {
  background-image: url(../images/icon/crystalball-lowres-reserved.svg);
  right: 1%;
}

@media(max-width:900px) {
  .header-logo {
    right: 3%;
  }
}

/* Decorations settings */

.decoration-margins {
    margin: 25px 20px 25px 20px;
}

/* Full-Page (text only) settings */

.centered-page p, ul, li, h1, h3 {
    color: #000000;
    line-height: 1.5em;
}

.centered-page a {
    display: inline;
}

.centered-page p {
    margin-bottom: 1.5em;
}

@media(min-width:1000px) {
    .centered-page {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:1000px) {
    .centered-page p, ul, li, h1, h3 {
        font-size: .9em!important;
    }
}

/* FAQ settings */

.faq {
  margin-left: 0px;
  margin-right: 0px;
}

.faq p {
    font-size: .9em!important;
    padding-right: 4em;
}

@media(max-width:1000px){
    .faq a, .faq p, .faq i, .faq em {
        font-size: .7em!important;
    }
    .faq strong {
        font-size: .9em!important;
    }
}
