/*Material Settings*/

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-container2 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

/*Homepage Slider*/

.home-slider h4{
    width:100%;
    padding-top:30px;
    padding-bottom:40px;
    position:absolute;
    bottom:0px;
    background: linear-gradient( to bottom,
      rgba(0, 0, 0, 0.01),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    );
    color:#FFFFFF;
    padding-left:20px;
    padding-right:20px;
    font-size:18px;
    font-weight:500;
    line-height:30px;
}

.home-slider p{
    font-size:13px;
    position:absolute;
    bottom:-15px;
    z-index:999;
    color:#FFFFFF;
    opacity:0.5;
    padding-left:20px;
    padding-right:20px;
    display:block;
    width:100%;
}

.home-round-slider{padding-top:10px;}
.home-round-slider img{
    border-radius:200px;
    margin-left:auto;
    margin-right:auto;
}

.home-img-1{
    position:absolute;
    width:150px;
    height:150px;
    top:25px;
    left:50%;
    margin-left:-170px!important;
    opacity:0.7;
}

.home-img-2{
    width:200px;
    height:200px;
    position:relative;
    z-index:1;
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
            box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
}

.home-img-3{
    position:absolute;
    width:150px;
    height:150px;
    top:25px;
    right:50%;
    margin-right:-170px!important;
    opacity:0.7;
}

.home-round-slider h3{text-align:center; padding-top:20px;}
.home-round-slider em{display:block; font-style: normal; text-align:center;}
.center-socials{width:160px; margin-left:auto; margin-right:auto;}

/*Footer*/

.footer{padding:30px 0px 30px 0px;}
.footer-dark{background-color:#0c1117;}
.footer-light{background-color:#ecf0f1; border-top:solid 1px #e0e0e0; border-bottom:solid 1px #e0e0e0;}

.footer-dark .decoration{
    background-color:rgba(255,255,255,0.05);
    max-width:290px;
    margin-left:auto;
    margin-right:auto;
}

.footer .footer-logo{
    background-image:url(../images/preload-logo.png);
    background-size:80px 80px;
    width:80px;
    height:80px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}

.copyright-text{margin-bottom:0px; margin-top:-10px; margin-bottom:0px;}

.footer p{
    max-width:290px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.footer-socials{
    width:255px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
}

.footer-socials a{
    margin-left:2px!important;
    margin-right:2px!important;
}

/*Header*/

.header-dark{background-color:#0c1117;}
.header-light{background-color:#FFFFFF;}
.header-transparent{background-color:rgba(0,0,0,0.7);}

.header{
    position:fixed;
    left:10px;
    right:10px;
    top:10px;
    height:60px;
    z-index:99;
}

.header-full{
    left:0px!important;
    top:0px!important;
    right:0px!important;
}

.header-active{
    top:0px!important;
    left:0px!important;
    right:0px!important;
}

.header-icon-1{left:0px;}
.header-icon-2{left:50px;}
.header-icon-3{right:50px;}
.header-icon-4{right:0px;}

.header-logo{
    position:absolute;
    background-image:url(../images/preload-logo.png);
    background-size:30px 30px;
    width:30px;
    height:30px;
    margin-left:-15px;
    margin-top:15px;
    right: 5%;
}

.header-dark a{color:#FFFFFF;}
.header-light a{color:#1f1f1f;}
.header-transparent a{color:#FFFFFF;}
.header-icon .fa-plus{    line-height:60px!important;    font-size:12px;}
.header-icon i{transition:all 250ms ease;}

.header-icon{
    width:60px;
    height:60px;
    line-height:60px;
    text-align:center;
    position:absolute;
    transition:all 250ms ease;
}

/*Footer menu*/

.footer-menu-background{
    position:fixed;
    z-index:99;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    pointer-events:all;
    overflow:hidden!important;
    transition:all 250ms ease;
}

.footer-menu-tap-close{
    position:fixed;
    z-index:9999999;
    top:0px;
    left:0px;
    right:160px;
    bottom:0px;
}

.footer-submenu-tap-close{
    position:fixed;
    z-index:9999999;
    top:0px;
    left:0px;
    right:160px;
    bottom:0px;
}

.footer-menu-wrapper{
    position:fixed;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    z-index:9999;
    overflow:hidden;
}

.footer-menu-scroll{
    position: absolute;
    bottom: 80px; /*Change if lck*/
    left: 0;
    height:100%;
    right: -19px; /* Decrease this value for cross-browser compatibility */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.footer-menu{
    position:relative;
    display: table-cell;
    vertical-align: bottom;
}

.footer-menu *, .footer-controls *{transition:all 250ms ease;}
.footer-menu-item{
    pointer-events:all;
    line-height:60px;
    float:right;
    padding-right:30px;
    padding-left:20px;
    width:100%;
    margin-bottom:20px;
}

.footer-menu .footer-menu-item:last-child, .footer-share .footer-menu-item:last-child{margin-bottom:20px;}
.footer-menu .footer-menu-item:first-child, .footer-share .footer-menu-item:first-child{margin-top:40px; padding-top:50px;}
.footer-menu .fa-mobile{font-size:24px!important;}
.footer-menu-open .fa-mobile{font-size:26px!important;}

.footer-menu-item i{
    width:50px;
    height:50px;
    border-radius:50px;
    line-height:50px;
    text-align:center;
    font-size:15px;
    margin-left:20px;
    float:right;
    box-shadow:0 1px 2px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow:0 1px 2px 2px rgba(0,0,0,0.10);
}

.footer-menu-item em{
    display:block;
    font-size:14px;
    padding:3px 14px!important;
    font-style:normal;
    font-weight:500;
    position:absolute;
    right:85px;
    line-height:25px;
    border-radius:10px;
    margin-top:12px;
    /*background-color:#FFFFFF!important;
    box-shadow:0 1px 2px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow:0 1px 2px 2px rgba(0,0,0,0.10);*/
}

.footer-controls{
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    width:100%;
    height:100px;
    z-index:9999;
}

.footer-controls h3{
    width:150px;
    height:100px;
    line-height:100px;
    padding-left:20px;
    color:#1f1f1f;
    font-size:18px;
    font-weight:800;
}

.footer-controls a{
    position:fixed;
    bottom:75px;
    text-align:center;
}

.footer-controls a i{
    width:50px;
    height:50px;
    position:absolute;
    border-radius:50px;
    line-height:46px;
    text-align:center;
    margin-left:20px;
}

.footer-menu-item i{color:#FFFFFF!important; border:none!important;}
.footer-controls{border-top:solid 1px rgba(0,0,0,0.1); margin-top:20px}
.light-footer-menu .footer-menu-item i{            border:solid 2px rgba(0,0,0,0.1);    color:#000000;}
.light-footer-menu .footer-menu-item em, .light-footer-menu, .footer-menu-close em{           color:#1f1f1f;}
.light-footer-background{background-color:rgba(255,255,255,0.9);}
.light-footer-menu .active-menu{color:#FFFFFF; opacity:1;}
.light-footer-menu .active-menu em{color:#000000!important; font-weight:700!important; font-size:16px}

.dark-footer-menu .footer-menu-item i{border:solid 2px rgba(255,255,255,0.2);    color:#FFFFFF;}
.dark-footer-menu .footer-menu-item em{color:#FFFFFF; box-shadow:none!important; background-color:transparent!important; 255,255,0.6); font-weight:300;}
.dark-footer-background{background-color:rgba(0,0,0,0.9);}
.dark-footer-menu .active-menu{color:#FFFFFF; opacity:1;}
.dark-footer-menu .active-menu em{color:#FFFFFF!important; font-weight:700!important; font-size:15px}

.remove-menu{
    opacity:0!important;
    pointer-events:none!important;
    transition:all 250ms ease;
}

.remove-wrapper{display:none!important;}
.footer-menu-open, .footer-menu-close{
    position:fixed;
    bottom:14px;
    right:27px;
    z-index:999;
}
.footer-menu-close{z-index:9999!important;}

.footer-menu-open i, .footer-menu-close i{
    overflow:hidden!important;
    border-radius:56px;
    line-height:56px;
    height:56px;
    width:56px;
    text-align:center;
    font-size:18px;
    color:#FFFFFF;
    transition:all 250ms ease;
    box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
}


.footer-menu-close em{
    font-weight:500;
    top:17px;
    position:absolute;
    right:65px;
    text-align:right;
    display:block;
    font-size:13px;
    padding:3px 14px!important;
    font-style:normal;
    line-height:25px;
    border-radius:10px;
    /*background-color:#FFFFFF!important;
    box-shadow:0 1px 2px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow:0 1px 2px 2px rgba(0,0,0,0.10);*/
}

.sidebar-header-background{
    background-image:url(../images/pictures/bg.jpg);
    background-size:cover;
    height:150px;
}

.sidebar-header h1{
    color:#FFFFFF;
    font-size:22px;
    padding-left:85px;
    padding-top:25px;
    font-weight:800;
}

.sidebar-header h2{
    font-size:10px;
    color:#bfbfbf;
    font-weight:400;
    margin-top:-13px;
    padding-left:85px;
}

.sidebar-header-controls{
    border-top:solid 1px rgba(255,255,255,0.1);
    position:absolute;
    bottom:1px;
    width:250px;
    height:50px;
}

.sidebar-logo-image{
    width:50px;
    height:50px;
    top:25px;
    left:20px;
    position:absolute;
}

.sidebar-header a{
    height:50px;
    line-height:50px;
    width:20%;
    float:left;
    text-align:center;
    color:#FFFFFF;
    font-size:15px;
}
