{% extends "base.html" %}

{% block title %}
    <title>DevConf.cz 2018 - COMING SOON</title>
{% endblock %}

{% block body %}
    <!-- Home Section -->
    <header id="intro" class="intro-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 intro-content padding-top-lg">

	        <img src="{{ '/images/devconf-cz-event-landing-v1.png'|url }}" class="width-sm border"/> 

            <h1 class="title">Main Event</h1>

            <div class="intro-text">
                <p>{{ _('The 10th annual, free community conference in Brno for developers, admins, and users of free and open source Linux, JBoss technologies') }}
	           </p>
            </div>

            <h1 class="title"><i>{{ _('More information coming soon!') }}</i></h1>

          </div>
        </div>
    </header>
{% endblock %}
