<!DOCTYPE html>
<html lang="{{ lang }}">
<head>

  {% block meta %} {% include 'meta-in.html' %} {% endblock %}

  {% block styles %} {% include 'styles.html' %} {% endblock %}

  <title>
    {% block title %}{{ _('DevConf - Community Contributors Conference') }}{% endblock %}
  </title>

</head>

<body>

  <div class="page-preloader page-preloader-dark">
      <div class="loader loader-frames"><i></i><i></i><i></i><i></i></div>
  </div>

  {% block navigation %}{% include 'navigation.html' %}{% endblock %}

  {% block body %}{% endblock %}

  <div class="sidebar-tap-close"></div>

</body>

  {% block scripts %} {% include 'scripts.html' %} {% endblock %}

</html>
