{% set google_analytics_id = 'UA-83802563-6' %}

{% set email_url = "mailto:info@devconf.cz" %}
{% set twitter_url = "https://twitter.com/devconf_cz" %}
{% set facebook_url = "https://www.facebook.com/DevConf.CZ" %}
{% set telegram_url = "https://t.me/devconfcz" %}

{% set page_title = "DevConf.CZ | January 24-26 2020 - Brno, Czechia" %}

{% set site_url = "https://devconf.cz" %}
{% set site_name = "DevConf.CZ" %}
{% set site_image = "https://devconf.info/images/icon/cz/devconf-cz-icon.svg" %}

{% include 'base.html' %}
