{% if not page_title %} {% set page_title = "DevConf.INFO - FLOSS conferences for contributors, by contributors!" %} {% endif %}

<!DOCTYPE html>
<html lang="{{ lang }}">
<head>

  {% block meta %} {% include 'meta.html' %} {% endblock %}

  {% block styles %} {% include 'styles.html' %} {% endblock %}

  <title> {{ page_title }} </title>

</head>

<body>

  <div class="page-preloader page-preloader-dark">
      <div class="loader loader-frames"><i></i><i></i><i></i><i></i></div>
  </div>

  {% block navigation %} {% include 'navigation.html' %} {% endblock %}

  <div id="page-content" class="header-clear-full">
    <div id="page-content-scroll">

      {% block body %} {% include body_template %} {% endblock %}

      {% block footer %} {% include 'devconf-footer.html' %} {% endblock %}

    </div>
  </div>

  <div class="sidebar-tap-close"></div>

  {% block scripts %} {% include 'scripts.html' %} {% endblock %}
</body>
</html>
