{% set google_analytics_id = 'UA-83802563-5' %}

{% set email_url = "mailto:info@devconf.in" %}
{% set twitter_url = "https://twitter.com/devconf_in" %}
{% set facebook_url = "https://www.facebook.com/DevConf.IN" %}
{% set telegram_url = "https://t.me/devconfin" %}

{% set page_title = "DevConf.IN | August 4-5, 2018 - Bengaluru, India" %}

{% set site_url = "https://devconf.in" %}
{% set site_name = "DevConf.IN" %}
{% set site_image = "https://devconf.info/images/icon/in/devconf-in-icon.svg" %}

{% include 'base.html' %}
