<!DOCTYPE html>
<html lang="{{ lang }}">
<head>

  {% include 'meta.html' %}

  {% block styles %} {% include 'styles.html' %} {% endblock %}

  <title>
    {% block title %}{{ _('DevConf - Community Contributors Conference') }}{% endblock %}
  </title>

</head>

<body>

  <div id="page-transitions">

    <div class="page-preloader page-preloader-dark">
        <div class="loader loader-frames"><i></i><i></i><i></i><i></i></div>
    </div>

    {% block navigation %}{% include 'navigation.html' %}{% endblock %}

    {% block body %}{% endblock %}

    <div class="sidebar-tap-close"></div>
    <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Back to Top</a>

  </div>

</body>

  {% block scripts %} {% include 'scripts.html' %} {% endblock %}

</html>
