{% set google_analytics_id = 'UA-83802563-4' %}

{% set email_url = "mailto:info@devconf.us" %}
{% set twitter_url = "https://twitter.com/devconf_us" %}
{% set facebook_url = "https://www.facebook.com/DevConf.US" %}
{% set telegram_url = "https://t.me/devconfus" %}

{% set page_title = "DevConf.US | August 17-19, 2018 - Boston, USA" %}

{% set site_url = "https://devconf.us" %}
{% set site_name = "DevConf.US" %}
{% set site_image = "https://devconf.info/images/icon/us/devconf-us-icon.svg" %}

{% include 'base.html' %}
