<!-- BEGIN devconf.cz 2018 coverpage -->

  <div class="page-fullscreen bg-md">
      <div class="coverpage-bottom">

        <h3 class="color-white">{{ _('DevConf.cz | January 26-28 2018 - Brno, Czechia') }}</h3>

          <p>{{ _('10th annual, free community conference in Brno for community contributors of free and open source technologies.') }}</p>

          <div class="decoration"></div>

          <a href="{{ '/cz/2018/index.html'|url(lang=lang) }}" class="coverpage-bottom-button-1 color-red-dark">
            <em>{{ _('Read More') }}</em><i class="fa fa-arrow-right"></i></a>
          <a href="#" class="coverpage-bottom-button-2 show-share-bottom">
            <i class="fa fa-refresh"></i>{{ _('Share') }}</a>

      </div>
      <div class="overlay darker-overlay"></div>
  </div>

<!-- END devconf.cz 2018 coverpage -->
