<div class="heading-strip bg-heading-strip-1">
  <h4 class="center-text">Travel</h4>
  <div class="overlay dark-overlay"></div>
</div>

<div class="content no-material">
  <div class="container">
    <p class="full-bottom">
      {{ _('Brno is located two hours or less by car from three European capitals (Prague, Vienna, and Bratislava).') }}
    </p>

    <div class="one-half-responsive">
      <h2 class="no-bottom">{{ _('Getting to Brno... ') }}</h2>
      <div class="accordion-item accordion-ghost">
           <a href="#" class="accordion-toggle"> {{ _('... by plane') }} <i class="fa fa-plus"></i></a>
           <div class="accordion-content">
             <p><strong><a href="http://www.brno-airport.cz/en/" target="_blank">{{ _('Brno Airport (BRQ)') }}</a></strong></p>
             <ul>
               <li>{{ _('Brno airport is a small international airport near Brno. This airport is a good option if you are coming from London (Stansted - Ryanair, Luton - Wizzair), Munich (Lufthansa), Eindhoven (Wizzair).') }}</li>
               <li>{{ _('A recently opened flight from Munich (Lufthansa) direct to Brno operates daily except Sunday!') }}</li>
               <li>{{ _('From the airport, city bus #76 will take you to the city center (30 minutes) and drop you off next to the main train station and Student Agency bus stop. You can also take a taxi: approx. 300 CZK/€11.') }}</li>
             </ul>
            <p><strong><a href="http://www.viennaairport.com/">{{ _('Vienna International Airport (VIE)</a></strong>') }}</p>
            <ul>
              <li>{{ _('The biggest airline hub in Central Europe, flights to many destinations all over the world.') }}</li>
              <li>{{ _('The easiest way to get from the airport to Brno are the <strong><a href="http://jizdenky.studentagency.cz/">Student Agency</a></strong> buses (online booking possible; use stop Vienna Schwechat Airport as your starting place). The direct bus takes 2 hours.') }}</li>
              <li>{{ _('Alternately, you can take a train from the airport to the city centre of Vienna and then take an EC train to Brno from there.') }}</li>
            </ul>
            <p>{{ _('<strong><a href="http://www.prg.aero/en/">Václav Havel Airport Prague (PRG)</strong></a>') }}</p>
            <ul>
              <li>{{ _('This is the second busiest airport in the region.') }}</li>
              <li>{{ _('It is possible to book the journey as one ticket with <strong><a href="http://jizdenky.studentagency.cz/">Student Agency</a></strong> with a connection at the Prague main bus station (Florenc). Czech Railways provides shuttle buses between the airport and the Prague main train station.') }}</li>
              <li>{{ _('To get from the Prague airport to Brno takes at least 3.5 hours by public transport. Note, it is faster to get to Brno from Vienna.') }}</li>
            </ul>
            <p>{{ _('<strong><a href="https://www.bts.aero/en/home/">Bratislava Airport (BTS)</strong></a>') }}</p>
            <ul>
              <li>{{ _('This airport is a good option for cheap flights within Europe. If you are flying to Brno from outside of Europe, this airport is not recommended.') }}</li>
              <li>{{ _('Bratislava Airport is a hub of Ryanair.') }}</li>
              <li>{{ _('There is no direct transport connection between the Bratislava airport and Brno. You have to take a city bus to the center and take a coach or train to Brno from there. It takes at least three hours.') }}</li>
            </ul>
            <p>{{ _('There are also small international airports in <strong><a href="http://www.airport-ostrava.cz/en/">Ostrava</a></strong> (flights to Paris and London) and <strong><a href="http://www.airport-pardubice.cz/en">Pardubice</a></strong> (flights to Saint Petersburg and Moscow). Both have good train and bus connections to Brno.') }}</p>
            <p><img data-original="{{ '/images/maps/map-travel-air-cz.jpg'|url }}"
                    class="preload-image full-bottom responsive-image" alt="" />
          </div>
      </div>

      <div class="accordion-item accordion-ghost">
           <a href="#" class="accordion-toggle">{{ _(' ... by train') }} <i class="fa fa-plus"></i></a>
           <div class="accordion-content ">
             <p>
               {{ _('Brno has good train connections within Europe. All intercity trains arrive and depart at the main station') }} <strong><a href="http://en.wikipedia.org/wiki/Brno_hlavn%C3%AD_n%C3%A1dra%C5%BE%C3%AD" target="_blank"> (Brno hlavní nádraží)</a></strong>, {{ _('The Main Station is the hub of public transport in the city.') }}</p>
             </p>
             <p><br /><strong>{{ _('Train Timetables:') }}</strong></p>
             <ul>
               <li>{{ _('Prague - trains between Prague and Brno go hourly, 2.5 hours') }}</li>
               <li>{{ _('Vienna - trains between Wien Hbf and Brno go every hour, 1.5 hour') }}</li>
               <li>{{ _('Bratislava - from Bratislava Hlavna Stanica hourly, 1.5 hour') }}</li>
               <li>{{ _('Budapest - from Budapest-Keleti pu several trains every day, 5 hours') }}</li>
               <li>{{ _('Warsaw - from Warszawa Centralna several times every day (usually one connection), 7 hours') }}</li>
               <li>{{ _('Berlin - from Berlin Hauptbahnhof several trains every day, 7.5 hours') }}</li>
            </ul>
          </div>
      </div>

      <div class="accordion-item accordion-ghost">
           <a href="#" class="accordion-toggle">{{ _(' ... by bus') }} <i class="fa fa-plus"></i></a>
           <div class="accordion-content ">
             <p>
               {{ _('Brno is also part of the European bus network and all connections and their prices are similar to trains. <a href="http://www.studentagency.eu/" target="_blank">Student Agency</a> and <a href="http://www.eurolines.com/" target="_blank">Eurolines</a> provide buses to many European cities. Most Eurolines buses arrive at Brno-Zvonarka, Brno\'s main bus station. Student Agency buses arrive at a station opposite the Grand Hotel which next to the main train station.') }}
             </p>
          </div>
      </div>

      <div class="accordion-item accordion-ghost">
           <a href="#" class="accordion-toggle">{{ _(' ... by car') }} <i class="fa fa-plus"></i></a>
           <div class="accordion-content ">
             <p>{{ _('Brno is well-connected to other cities by highway. You can get easily to neighboring countries by car. For using the Czech highways you have to purchase a highway sticker. The 10 day sticker costs 350 CZK/13 € and can be purchased at every gas station. Travel time examples:') }}</p>
             <ul>
               <li>{{ _('Prague - 210 km, 2 hours') }}</li>
               <li>{{ _('Bratislava - 130 km, 1.3 hours') }}</li>
               <li>{{ _('Vienna - 143 km, 1.8 hours') }}</li>
               <li>{{ _('Budapest - 326 km, 3 hours') }}</li>
               <li>{{ _('Munich - 587 km, 5.3 hours') }}</li>
               <li>{{ _('Berlin - 555 km, 5.2 hours') }}</li>
             </ul>
          </div>
      </div>

      <h2 class="full-top">{{ _('Getting around Brno city ...') }}</h2>
      <div class="accordion-item accordion-ghost">
        <a href="#" class="accordion-toggle">{{ _('... by public transport') }} <i class="fa fa-plus"></i></a>
        <div class="accordion-content ">
          <p>{{ _('Public transportation in Brno is provided by <a href="http://www.dpmb.cz/default.aspx" target="_blank">DPMB</a> which maintains 12 tram lines, 13 trolley-bus lines and 37 bus lines. At night all public transportation is provided by 11 night bus lines. If you want to use public transportation, you must buy a ticket before you board the bus, tram or trolleybus. You need to purchase a two-zone ticket for zones 100+101 for any stop in the city of Brno. Single journey tickets can be bought from machines (coins only) at many stops, or in Tabak stores. You need to validate the single journey ticket in the Yellow validation machine when you enter the bus, tram or trolleybus. Instructions how to pay for transportation in Brno can be found <a href="http://www.dpmb.cz/Default.aspx">here</a>.') }}</p>

          <p>{{ _('<strong>SMS tickets:</strong> The DPMB also offers <a href="http://www.dpmb.cz/Default.aspx?seo=sms-jizdenky">sms tickets</a>. This service is only available for Czech SIM cards. To use the service, send a message with a code to 90206. The code for a 75-minute ticket (CZK 29) is BRNO. The code, BRNOD, is for an all-day ticket (CZK 99). After sending the message, you will receive a ticket via SMS within a few minutes. If you do not have a Czech SIM card, you can use the mobile app, Sejf which is available in the <a href="https://itunes.apple.com/sk/app/sejf/id301404273?mt=8">Apple App Store</a> and <a href="https://play.google.com/store/apps/details?id=cz.edhouse.mc.android&hl=cs">Google Play</a>.') }}</p>
          <p>{{ _('If you are staying in Brno for several days, consider buying a 5-day ticket which costs 250 CZK. There are several places where you can buy this ticket, but the easiest one for you is probably the main railway station. You can buy it at any counter (look for the international counters because they are more likely to speak English). When you first use your ticket, be sure to validate it. You only have to validate your ticket one time.') }}</p>

          <h3>{{ _('Brno Local transport timetable') }}</h3>
          <ul>
            <li>{{ _('<strong>On-line: <a href="http://jizdnirady.idnes.cz/brno/spojeni/?lng=E">Brno Jizdnirady (Timetables)</a></strong>') }}</li>
            <li>{{ _('<strong>Mobile App: <a href="https://itunes.apple.com/cz/app/jizdni-rady-idos/id473503749?mt=8">Brno Jizdni rady iOS</a></strong> or <strong><a href="https://play.google.com/store/apps/details?id=cz.mafra.jizdnirady&hl=cs">Android</a></strong>') }}</li>
          </ul>
        </div>
      </div>

      <div class="accordion-item accordion-ghost">
        <a href="#" class="accordion-toggle">{{ _('... by uber / taxi') }} <i class="fa fa-plus"></i></a>
        <div class="accordion-content ">
          <p>{{ _('We recommend downloading using one of the following apps if you plan to use Uber or taxi services while in Brno') }}</p>
          <ul>
            <li><a href="https://www.uber.com/en-CZ/">Uber</a></li>
            <li><a href="https://www.liftago.com/cs">Liftago</a></li>
          </ul>
          <p>{{ _('It is also possible to reserve a taxi using your mobile phone, but usually you will need to be able to speak Czech to use phone based services.') }}</p>
        </div>
      </div>

      <h2 class="full-top">{{ _('Getting to the Venue ...') }}</h2>
      <div class="accordion-item accordion-ghost">
        <a href="#" class="accordion-toggle ">{{ _('... from Main Station by tram') }} <i class="fa fa-plus"></i></a>
        <div class="accordion-content ">
          <p>{{ _('From the main train station take tram No.1 (towards Řečkovice). Get off at the stop Semilasso (after approximately 15 minutes). Take the street on the right, Metodějova. After approximately 200 meters take the first street on the right, Božetěchova. Continue straight approximately 100 m. The building on your left hand side is the university.') }}</p>
        </div>
      </div>
      <div class="accordion-item accordion-ghost">
        <a href="#" class="accordion-toggle">{{ _('... from Main Station by bus') }} <i class="fa fa-plus"></i></a>
        <div class="accordion-content ">
          <p>{{ _('From the main bus station (Zvonařka) take bus No. 44 or 67. Get off at the stop "Semilasso". Follow the street for 100 m and then take the street on the right, Božetěchova. After approximately 400 meters you will arrive to the building of the university.') }}</p>
        </div>
      </div>
      <div class="accordion-item accordion-ghost">
        <a href="#" class="accordion-toggle">{{ _('... from Red Hat Offices by tram') }} <i class="fa fa-plus"></i></a>
        <div class="accordion-content ">
          <p>{{ _('From the Red Hat Office tram station (Červinkova for Purkynova 71/99 office or Technologický park for TPB building) take tram No. 12 towards Komárov. Get off at the stop Skácelova (first stop from Červinkova, third from Technologický park). Take bus No. 30 or 84 or 53 from the bus stop at the corner diagonally opposite the tram stop you exited at. From both buses, get off at the Semilasso stop.') }}</p>
        </div>
      </div>
      <div class="accordion-item accordion-ghost">
        <a href="#" class="accordion-toggle">{{ _('... from partner hotels') }} <i class="fa fa-plus"></i></a>
        <div class="accordion-content ">
          <ul>
            <li>{{ _('<strong>Hotel Vista:</strong> The nearest tram stop is Hudcova. Take tram No. 1 towards Ečerova and get off at Semilasso stop (second stop).') }}</li>
            <li>{{ _('<strong>Hotel Avanti:</strong> The nearest tram stop is Hrnčířská. Take tram No. 1 (towards Řečkovice) or tram No. 6 (towards Královo Pole nádraží) and get off at the Semilasso stop (apx. 5 minutes).') }}</li>
            <li>{{ _('<strong>Hotel Continental:</strong> The nearest tram stop is Antonínská. Take tram No. 1 (towards Řečkovice) or tram No. 6 (towards Královo Pole nádraží) and get off at the Semilasso stop (apx. 10 minutes).') }}</li>
            <li>{{ _('<strong>Hotel Grand:</strong> The nearest tram stop is the Main Station ("hlavní nádraží"). Take tram No. 1 (towards Řečkovice) or tram No. 6 (towards Královo Pole nádraží) and get off at the Semilasso stop (apx. 10 minutes).') }}</li>
          </ul>
        </div>
      </div>
    </div>

    <h2 class="full-top">{{ _('Map') }}</h2>
    <div class="one-half-responsive last-column">
    <div class="content-fullscreen">
       <iframe class="responsive-image maps no-bottom" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2605.6261886026205!2d16.594451416588164!3d49.22661597932532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471294099dc06bbb%3A0xbfcf161b01a48b0d!2sFaculty+of+Information+Technology%2C+Brno+University+of+Technology!5e0!3m2!1sen!2scz!4v1509541747730"></iframe>
        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2605.6261886026205!2d16.594451416588164!3d49.22661597932532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471294099dc06bbb%3A0xbfcf161b01a48b0d!2sFaculty+of+Information+Technology%2C+Brno+University+of+Technology!5e0!3m2!1sen!2scz!4v1509541747730" target="_blank" class="button button-red button-s button-full uppercase bold">Open Map</a>
    </div>
  </div>

  <div class="clear"></div>
  <div class="responsive">
    <h2 class="full-top">{{ _('Recommended Hotels') }}</h2>
    <p>{{ _('When booking your hotel, mention that you are speaking or attending DevConf.cz 2018 and you should receive a discounted offer from the following DevConf.cz partner hotels in Brno.') }}</p>
    <p class="full-bottom">{{ _('Speaker\'s will receive additional details after submissions are selected, when sending out acceptance confirmation requests in December.') }}</p>
    <div class="portfolio-wide full-bottom">
      <div class="portfolio-wide-item portfolio-wide-card">
          <a href="mailto:hotel@hotelavanti.cz" class="portfolio-wide-caption" target="_blank">
            <img class="preload-image responsive-image" data-original="{{ '/images/sponsors/hotel-avanti-header.jpg'|url }}">
            <h3>Hotel Avanti</h3>
            <em>hotel@hotelavanti.cz</em>
            <div class="overlay"></div>
          </a>
      </div>
      <div class="portfolio-wide-item portfolio-wide-card">
          <a href="mailto:hotel@vista-hotel.cz" class="portfolio-wide-caption" target="_blank">
            <img class="preload-image responsive-image" data-original="{{ '/images/sponsors/hotel-vista-header.jpg'|url }}">
            <h3>Hotel Vista</h3>
            <em>hotel@vista-hotel.cz</em>
            <div class="overlay"></div>
          </a>
      </div>
      <div class="clear"></div>
      <div class="portfolio-wide-item portfolio-wide-card">
          <a href="mailto:reservation@grandhotelbrno.cz" class="portfolio-wide-caption" target="_blank">
            <img class="preload-image responsive-image" data-original="{{ '/images/sponsors/hotel-grand-header.jpg'|url }}">
            <h3>Hotel Grand</h3>
            <em>reservation@grandhotelbrno.cz</em>
            <div class="overlay"></div>
          </a>
      </div>
      <div class="portfolio-wide-item portfolio-wide-card">
          <a href="mailto:info@continentalbrno.cz" class="portfolio-wide-caption" target="_blank">
            <img class="preload-image responsive-image" data-original="{{ '/images/sponsors/hotel-continental-header.jpg'|url }}">
            <h3>Hotel Continental</h3>
            <em>info@continentalbrno.cz</em>
            <div class="overlay"></div>
          </a>
      </div>
    </div>
  </div>
</div>
