{% extends "base.html" %}

{% block title %}DevConf | {{ _('Error - CfP Not Open') }}{% endblock %}

{% block body %}
<!-- BEGIN body -->

<div id="page-content" class="header-clear-full">
  <div id="page-content-scroll">

    <div class="content no-material full-page">

      <div class="centered-page" style="padding: 3em 0 5em 0">
        <div class="center-text">
          <h1 class="uppercase">{{ _('Sorry, the CfP is not open at this time') }}</h1>
          <h3 class="uppercase">{{ _('Question? Write us: <a href="mailto:hello@devconf.info">hello@devconf.info</a>') }}</h3>
        </div>
      </div>

    </div>

    {% include 'devconf-footer.html' %}

  </div>

</div>

<!-- END body -->
{% endblock %}
