{% block title %}DevConf | {{ _('Home') }}{% endblock %}

{% block body %}
<!-- BEGIN body -->

  <div id="page-content" class="header-clear-full">
    <div id="page-content-scroll">

      <div class="content no-material full-page full-bottom full-top">
        <div class="container">
          <div class="centered-page">

            <div class="one-half-responsive home-round-slider no-material">
              <a href="{{ '/us/2018/index.html'|url(lang=lang) }}">
                <img class="home-img-2 bg-blue-light" src="images/icon/us/devconf-us-icon.png">
              <h3>DevConf.US - Boston <i class="fa fa-external-link" style="color: #8e83e3"></i></h3>
            </a>
              <em>August 17-19 2018</em>
              <b><em>CfP is <a href="https://bit.ly/devconfus-18-cfp">OPEN</a></em></b>
            </div>

            <div class="one-half-responsive last-column home-round-slider no-material">
              <a href="{{ '/in/2018/index.html'|url(lang=lang) }}">
                <img class="home-img-2 bg-orange-light" src="images/icon/in/devconf-in-icon.png">
                <h3>DevConf.IN - Bangalore <i class="fa fa-external-link" style="color: #8e83e3"></i></h3>
              </a>
              <em>Summer 2018</em>
              <em>COMING SOON</em>
            </div>
            <!--
            <div class="one-third-responsive home-round-slider no-material">
              <a href="{{ '/cz/2018/index.html'|url(lang=lang) }}">
                <img class="home-img-2 bg-night-light" src="images/icon/cz/devconf-cz-icon.png">
                <h3>DevConf.CZ - Brno <i class="fa fa-external-link" style="color: #8e83e3"></i></h3>
              </a>
              <em>January 26-28 2018</em>
              <em>See you next year!</em>
            </div>
          -->
            <div class="clear"></div>

          </div>
        </div>
      </div>

      {% include 'devconf-footer.html' %}

    </div>
  </div>

<!-- END body -->
{% endblock %}
