<!-- BEGIN footer -->

  <div class="menu-bottom-bar menu-bottom-bar-five menu-bottom-bar-icon light-menu-bar">
    <a href="{{ '/coc.html'|url(lang=lang) }}"><i class="fa fa-heart-o"></i><span class="hide-if-mobile">Code of Conduct</span></a>
    <a href="{{ '/participation-agreement.html'|url(lang=lang) }}"><i class="fa fa-handshake-o"></i><span class="hide-if-mobile">Participation Agreement</span></a>
    <a href="{{ '/volunteer-roles.html'|url(lang=lang) }}"><i class="fa fa-group"></i><span class="hide-if-mobile">Volunteer Roles
    <a href="{{ '/media-policy.html'|url(lang=lang) }}"><i class="fa fa-camera-retro"></i><span class="hide-if-mobile">Media Policy</span></a>
    <a href="{{ '/privacy-statement.html'|url(lang=lang) }}"><i class="fa fa-user-secret"></i><span class="hide-if-mobile">Privacy Policy</span></a>

    <div class="clear"></div>

    <!-- FIXME: Trademarks, Aknowledgements (photo attributions), Team -->

  </div>

  <div class="footer footer-dark">

    <p>{{ _('DevConf Contributor Conferences are technology conference events for Linux
    and JBoss Developers, Admins, Linux and other open source project contributors,
    organized by Red Hat.') }}</p>

    <p>{{ _('Our aim in organizing the conference is to provide opportunities for
    developers and contributors to meet and discuss future development of upstream
    projects and share updates and announcements about recent progress.') }}</p>

    <p>{{ _('Red Hat is leading industry provider of open-source software and operating
    systems. Red Hat\'s open-source software provides flexible alternatives to
    proprietary operating systems such as UNIX. Renowned within the industry,
    Red Hat employs more than 10,000 employees and maintains operations in 60
    offices worldwide. More at <a href="https://www.redhat.com" target="_blank">redhat.com</a>.') }}</p>

    <div class="decoration"></div>

    <div class="footer-socials">
      <a href="mailto:hello@devconf.info" class="icon icon-round no-border icon-xs mail-bg"><i class="fa fa-envelope"></i></a>
      <!-- <a href="https://t.me/devconfcz" class="icon icon-round no-border icon-xs phone-bg"><i class="fa fa-send-o"></i></a> -->
      <a href="https://www.facebook.com/DevConf.info" class="icon icon-round no-border icon-xs facebook-bg"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/devconf_info" class="icon icon-round no-border icon-xs twitter-bg"><i class="fa fa-twitter"></i></a>
      <a href="https://www.youtube.com/channel/UCmYAQDZIQGm_kPvemBc_qwg" class="icon icon-round no-border icon-xs youtube-bg"><i class="fa fa-youtube"></i></a>
      <a href="https://github.com/devconfcz/devconf" class="icon icon-round no-border icon-xs bg-night-light"><i class="fa fa-github"></i></a>
    </div>

    <div class="decoration"></div>

    <p>
        <a href="{{ '/privacy-policy.html'|url(lang=lang) }}" target="_blank" class="color-gray-light">Various services</a> linked to this website use cookies to ensure that you receive the best experience possible while visiting. If you continue without changing your browser settings to reject cookies, we'll assume you are happy with this situation. However, if you would like to, you can change your cookie settings in your browser at any time or not use this website.
    </p>

    <div class="decoration"></div>

    <p class="copyright-text">
      <i class="fa fa-copyright fa-flip-horizontal"></i> Copyleft 2017-2018 Red Hat. Some Rights Reserved.
    </p>

  </div>

<!-- END footer -->
