<!-- BEGIN devconf 2018 FAQ -->

  <div class="heading-strip bg-heading-strip-1">
    <h4 class="center-text">FAQ</h4>
    <div class="overlay dark-overlay"></div>
  </div>

  <div class="content material-no-top faq">
    <div class="one-half-responsive">
      <div class="toggle">
          <a href="#" class="toggle-title">When and where is next DevConf.cz event?<i class="fa fa-plus"></i></a>
          <div class="toggle-content">
              <p>Friday to Sunday January 26-28, 2018 at the beautiful Faculty of Information Technology (VUT FIT) on Božetěchova 2 in Brno, Czechia.</p>
          </div>
      </div>

      <div class="toggle">
          <a href="#" class="toggle-title">Can I submit a proposal?<i class="fa fa-plus"></i></a>
          <div class="toggle-content">
            <p><strong>YES</strong>. Submit your proposals at <a href="https://cfp.devconf.cz" target="_blank">cfp.devconf.cz</a>.</p>
          </div>
      </div>

      <div class="toggle">
          <a href="#" class="toggle-title">When does the CfP open & close?<i class="fa fa-plus"></i></a>
          <div class="toggle-content">
            <p>CfP opens September 15 and <strong>closes November 17, 2017</strong></p>
          </div>
      </div>

      <div class="toggle">
          <a href="#" class="toggle-title">When will speakers be confirmed?<i class="fa fa-plus"></i></a>
          <div class="toggle-content">
            <p>Speakers will receive acceptance/rejection notifications by December 1, 2017.</p>
          </div>
      </div>

      <div class="toggle">
          <a href="#" class="toggle-title">When will the schedule / event program be published?<i class="fa fa-plus"></i></a>
          <div class="toggle-content">
            <p>The DevConf.cz 2018 event schedule will be published on-line by December 22, 2017</p>
          </div>
      </div>

      <div class="toggle">
          <a href="#" class="toggle-title">Can I host a community booth or meetup?<i class="fa fa-plus"></i></a>
          <div class="toggle-content">
            <p><strong>YES</strong>. This is a community contributors conference. If you'd like to reserve some booth space to host (for example) interactive demos or organize a community meet-up, submit your request using the DevConf CfP page over at <a href="https://cfp.devconf.cz" target="_blank">cfp.devconf.cz</a>. <em>Limited capacity!</em></p>
          </div>
      </div>

    </div>

    <div class="one-half-responsive last-column">

        <div class="toggle">
            <a href="#" class="toggle-title">Is registration required?<i class="fa fa-plus"></i></a>
            <div class="toggle-content">
                <p>
                <strong>YES</strong>. {{ _('On-line registration coming soon! Limited capacity!') }} {{ _('On-site (at venue) registration is possible, even after on-line regitration has closed! But it will also be limited capacity. On-line registration is preferred.') }}
                </p>
            </div>
        </div>

        <div class="toggle">
            <a href="#" class="toggle-title">Is registration really FREE?<i class="fa fa-plus"></i></a>
            <div class="toggle-content">
                <p>
                <strong>YES</strong>.
                </p>
            </div>
        </div>

        <div class="toggle">
            <a href="#" class="toggle-title">Can I request a visa invitation letter?<i class="fa fa-plus"></i></a>
            <div class="toggle-content">
                <p>
                <strong>YES</strong>, <em>but only for accepted speakers</em>. We don't assure it will help, and we can't offer any more assistance than this. Invitation letter request information will be announced once registration is open. Stay tuned.
                </p>
            </div>
        </div>

        <div class="toggle">
            <a href="#" class="toggle-title">Will there be refreshments available?<i class="fa fa-plus"></i></a>
            <div class="toggle-content">
                <p>
                <strong>YES</strong>. Accepted speakers are expected to get some amount of 'meal vouchers' for use during the event. Otherwise, multiple food options will be available for folks to purchase on-site, as well.
                </p>
            </div>
        </div>

      <div class="toggle">
          <a href="#" class="toggle-title">Can I request financial aide?<i class="fa fa-plus"></i></a>
          <div class="toggle-content">
            <p><strong>NO</strong>. Sorry, but this is a free event. All participants will need to cover their own costs. With the only exception being that <i>accepted</i> speakers also have an option to stay at our of our preferred hotels for free for up to three nights! Booking instructions will be sent along with your accepted confirmation.</p>
          </div>
      </div>

      <div class="toggle">
          <a href="#" class="toggle-title">Can my company sponsor the event?<i class="fa fa-plus"></i></a>
          <div class="toggle-content">
            <p><strong>NO</strong>. We are not looking for any additional sponsors at this time.</p>
          </div>
      </div>

    </div>

  <div class="clear"></div>

  </div>

<!-- END devconf 2018 FAQ -->
