{% block title %}DevConf | {{ _('Home') }}{% endblock %}

{% block body %}
<!-- BEGIN body -->

  <div id="page-content" class="header-clear-full">
    <div id="page-content-scroll">

      <div class="content no-material full-page full-bottom full-top">
        <div class="container">
          <div class="centered-page">

            <div class="one-third-responsive home-round-slider no-material">
              <a href="{{ 'us/2018'|url(lang=lang) }}">
                <img class="home-img-2 bg-blue-light" src="images/icon/us/devconf-us-icon.png">
              <h3>DevConf.US - Boston</h3>
            </a>
              <em>August 17-19, 2018 - Boston, USA</em>
              <em>Schedule is published! <a href="https://devconf.info/us/2018/schedule" target="_blank"><i class="fa fa-external-link"></i></a></em>
              <em>Walk-in registration only!</em>
            </div>

            <div class="one-third-responsive home-round-slider no-material">
              <a href="{{ 'cz/2019'|url(lang=lang) }}">
                <img class="home-img-2 bg-night-light" src="images/icon/cz/devconf-cz-icon.png">
                <h3>DevConf.CZ - Brno</h3>
              </a>
              <em>January 25-27, 2019 - Brno, Czechia <a href="{{ 'cz/2019'|url(lang=lang) }}" target="_blank"><i class="fa fa-external-link"></i></a></em>
              <em>Schedule: Stay tuned! <a href="{{ 'cz/2019'|url(lang=lang) }}" target="_blank"><i class="fa fa-external-link"></i></a></em>
              <em>CfP is Open! <a href="{{ 'cz/2019/cfp'|url(lang=lang) }}" target="_blank"><i class="fa fa-external-link"></i></a></em>
            </div>

            <div class="one-third-responsive last-column home-round-slider no-material last-column">
              <a href="{{ 'in/2018'|url(lang=lang) }}">
                <img class="home-img-2 bg-orange-light" src="images/icon/in/devconf-in-icon.png">
                <h3>DevConf.IN - India</h3>
              </a>
              <em>TBA - <a href="https://devconf.info/subscribe" target="_blank">Stay tuned!</a></em>
            </div>

            <div class="clear"></div>

          </div>
        </div>
      </div>

    </div>
  </div>

<!-- END body -->
{% endblock %}
