{% extends "base.html" %}

{% block title %}DevConf | {{ _('Error - CfP Not Open') }}{% endblock %}

{% block body %}
<!-- BEGIN body -->

<div id="page-content" class="header-clear-full">
  <div id="page-content-scroll">

    <div class="content">
      <div class="container event-container">
        <div class="material-full-bottom">
          <h1 class="center-text">DevConf.us CfP open January 26th!</h1>
        </div>
      </div>
    </div>

{% include 'devconf-footer.html' %}
  </div>

</div>

<!-- END body -->
{% endblock %}
