<!-- BEING Devconf-2018-footer -->

  <div class="decoration decoration-margins"></div>

  <div class="footer footer-light">
      <a href="#" class="footer-logo scale-hover"></a>
      <p>
          Simplicity and complexity packed into a beautiful,
          feature filled, powerful, gorgeous mobile template.
      </p>
              <a class="smaller" href="{{ '/speaker-agreement.html'|url(lang=lang) }}"><i class="fa fa-check-square-o text-warning" aria-hidden="true"></i> {{ _('Speaker Agreement') }}</a>
              <a class="smaller" href="{{ '/coc.html'|url(lang=lang) }}"><i class="fa fa-external-link text-warning" aria-hidden="true"></i> {{ _('Code of Conduct') }}</a>
              <a class="smaller" href="{{ '/media-policy.html'|url(lang=lang) }}"><i class="fa fa-film text-warning" aria-hidden="true"></i> {{ _('Media Policy') }}</a>
      <div class="footer-socials">
          <a href="#" class="icon icon-round no-border icon-xs facebook-bg"><i class="fa fa-facebook"></i></a>
          <a href="#" class="icon icon-round no-border icon-xs twitter-bg"><i class="fa fa-twitter"></i></a>
          <a href="#" class="icon icon-round no-border icon-xs google-bg"><i class="fa fa-google-plus"></i></a>
          <a href="#" class="icon icon-round no-border icon-xs phone-bg"><i class="fa fa-phone"></i></a>
          <a href="#" class="icon icon-round no-border show-share-bottom icon-xs bg-blue-dark"><i class="fa fa-retweet"></i></a>
          <a href="#" class="icon icon-round no-border icon-xs back-to-top bg-night-dark"><i class="fa fa-angle-up"></i></a>
      </div>
      <div class="decoration"></div>
      <p class="copyright-text">Copyright <span id="copyright-year"></span>. All Rights Reserved.</p>
  </div>

<!-- END devconf-2018-footer -->
