<!-- BEGIN news-ticker -->

        <div class="text-slider content-fullscreen">
            <div class="swiper-wrapper">
              <p class="swiper-slide">{{ _('DevConf.cz CfP launched!') }}</p>
              <p class="swiper-slide"><a href="https://cfp.devconf.cz">{{ _('DevConf.cz - Click to submit a proposal') }}</a></p>
              <p class="swiper-slide">{{ _('DevConf.cz CfP closes November 17th, 2017!') }}</p>

              <p class="swiper-slide">{{ _('DevConf.cz events dates announced!') }}</p>
              <p class="swiper-slide">{{ _('DevConf.cz - January 26-28, 2018 - Brno, Czechia') }}</p>

              <p class="swiper-slide">{{ _('Looking for event announcements?') }}</p>
              <p class="swiper-slide">{{ _('DevConf.cz Newsletter') }} - <a href="https://devconf.us14.list-manage.com/subscribe/post?u=4405d7552dfc612aef814da21&id=9dfaafef37">{{ _('Click to subscribe') }}</a></p>

              <p class="swiper-slide">{{ _('DevConf.cz registration opens soon!') }}</p>
            </div>
        </div>

<!-- END news-ticker -->
