<!-- BEGIN FOOTER SECTION -->
    <footer id="footer" class="footer-section footer navbar-fixed-bottom">
      <div class="container">
          <!-- Participation Agreements Section -->
          <div class="col-xs-12 text-center">
              <a class="smaller" href="{{ '/speaker-agreement.html'|url }}"><i class="fa fa-check-square-o text-warning" aria-hidden="true"></i> {{ _('Speaker Agreement') }}</a>
              <a class="smaller" href="{{ '/coc.html'|url }}"><i class="fa fa-external-link text-warning" aria-hidden="true"></i> {{ _('Code of Conduct') }}</a>
              <a class="smaller" href="{{ '/media-policy.html'|url }}"><i class="fa fa-film text-warning" aria-hidden="true"></i> {{ _('Media Policy') }}</a>
          </div>
          <!-- END Participation Agreements Section -->
      </div>
    </footer>
<!-- END FOOTER SECTION -->
