{% extends "base.html" %}

{% block title %}
<title>DevConf - {{ _('Free and Open Source Software Community Conferences for Developers') }}</title>
{% endblock %}

{% block body %}
    <!-- Home Section -->
    <header id="intro" class="intro-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 intro-content padding-top-md">
	    <a href="{{ '/cz/2018/index.html'|url(lang=lang) }}">
	      <img src="{{ '/images/devconf-cz-event-landing.png'|url }}" class="width-sm border"/> 
            </a>

	    <h1 class="title">{{ _('Main Event') }}</h1>

            <div class="time-and-place">
	      <address>{{ _('Brno, Czech Republic') }}</address>
              <div class="date">
		      <time datetime=""><b>{{ _('January 2018') }}</b></time>
              </div>
            </div>

            <div class="intro-text">
               <p>
	       {{ _('The 10th annual, free community conference in Brno for developers, admins, and users of free and open source Linux, JBoss technologies') }}. <a href="{{ '/cz/2018/index.html'|url(lang=lang) }}">{{ _('Learn more') }}</a>
	       </p>
            </div>
          </div>

        </div>
    </header>
{% endblock %}
