        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta property="og:title" content="DevConf.cz, January 26-28 2018">
        <meta property="og:site_name" content="DevConf.cz">
        <meta property="og:description" content="
        {{ _('
        DevConf.cz is a free and open, annual, 3-day open-source Fedora Linux and JBoss community 
        conference for Red Hat and community developers, DevOps, testers, and documentation writers, 
        organized to sync, share, and hack on upstream projects with the community in the beautiful 
        city of Brno, Czech Republic.
        ') }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://devconf.cz">
        <meta property="og:image" content="https://devconf.cz/images/devconf-cz-event-landing.png">

        <!-- FIXME: Use a {{ variable }} to trigger absolute or relative urls -->

        <!-- YouTube Channel Linking Verification - DO NOT REMOVE!! -->
        <meta name="google-site-verification" content="IXOh3zMePCSVZkCqKQr8dZVFfpQgPG5Og-ZpULr8MJ4" />
