<!-- BEGIN meta includes -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="author" content="Chris Ward <cward@redhat.com>">
  <meta name="description" content="{{ _('DevConf are free and open, annual, open-source community conferences for community contibutors, sponsored by Red Hat.') }}">

  <meta property="og:title" content="{{ _('DevConf.cz | Main Event - Brno, Czechia') }}">
  <meta property="og:site_name" content="DevConf.cz">
  <meta property="og:description" content="{{ _('DevConf are free and open, annual, open-source community conferences for community contibutors, sponsored by Red Hat.') }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://devconf.cz">
  <meta property="og:image" content="https://devconf.info/images/icon/cz/devconf-cz-icon.svg">

  <!-- YouTube Channel Linking Verification - DO NOT REMOVE!! -->
  <meta name="google-site-verification" content="IXOh3zMePCSVZkCqKQr8dZVFfpQgPG5Og-ZpULr8MJ4" />

  <!-- Favicons -->
  <!-- Thanks to https://realfavicongenerator.net/ -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png'|url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png'|url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png'|url }}">
  <link rel="manifest" href="{{ '/manifest.json'|url }}">
  <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg'|url }}" color="#512954">
  <meta name="theme-color" content="#ffffff">

<!-- END meta includes -->
