{% extends "base.html" %}

{% block title %}DevConf | {{ _('Participation Agreement') }}{% endblock %}

{% block body %}
<!-- BEGIN body -->

  <div id="page-content" class="header-clear-full">
    <div id="page-content-scroll">

      <div class="content no-material full-page">
        <div class="centered-page">
          <div class="center-text">
            <h1 class="uppercase">{{ _('Participation Agreement') }}</h1>
          </div>
          <div class="decoration-line-fade decoration-margins"></div>
            <!-- Code of Conduct Section -->
              <h3>{{ _('Compensation') }}</h3>
              <p>{{ _('I understand that DevConf organizers are under no obligation to compensate me in any way for my participation in DevConf events in any way!') }}</p>

              <h3>{{ _('Speaker Profiles') }}</h3>
              <p>{{ _('All speakers must provide user profile information, including full name, contact details and avatar, with the understanding that my information might be populated for me (based on pubicaly available information) if not provided in time for the schedule.') }}</p>
              <p><i>{{ _('Speaker name, avatar, country of origin, and bio content will be published publicly along with Twitter, Facebook, G+ and other such social media handles, if provided.') }}</i></p>
              <p><i>{{ _('Email, phone number and demographic information not mentioned above will not be shared publicly.') }}</i></p>

              <h3>{{ _('Session Preparation') }}</h3>
              <p>{{ _('If I fail to confirm my participation or find later that I am unable to devote the time and energy to this effort, I will notify the DevConf event planning team immediately. DevConf organizers reserve the right to replace my session at anytime, for any reason.') }}</p>
              <p>{{ _('To aid in schedule planning, I will also communicate any of the following situations with the DevConf organizers, in a timely manner:') }}</p>
              <ul>
                <li>{{ _('Schedule conflicts') }}</li>
                <li>{{ _('Session format') }}</li>
                <li>{{ _('Technical requirements/requests') }}</li>
                <li>{{ _('Changes to your speaker lineup') }}</li>
              </ul>

              <h3>{{ _('Obtaining Consent') }}</h3>
              <p>{{ _('I understand that I am responsible for obtaining any required consents, permissions, and clearances to display or otherwise use any materials (both visual and audio) that I incorporate in my session.') }}</p>

              <h3>{{ _('Promoted Content') }}</h3>
              <p>{{ _('I understand that DevConf is primarily an educational event, not a sales or marketing platform.') }} </p>
              <h3>{{ _('Staying on Topic and on time') }}</h3>
              <p>{{ _('I understand that staying focused on the topic outlined in the title and description of my session is extremely important.') }}</p>

              <h3>{{ _('Code of Conduct') }}</h3>
              <p>{{ _('I understand that my slides and on-stage remarks must abide by our Code of Conduct, which will be adhered to during this conference.') }} </p>
              <p>{{ _('I understand that my slides may be reviewed ahead of time, and that I may need to modify my presentation if it does not adhere with our Code of Conduct.') }}</p>
              <p>{{ _('I also understand that if, while I am presenting, I fail to abide by the spirit of the Code of Conduct, my session recording might not be published.') }}</p>

              <h3>{{ _('Session Recording') }}</h3>
              <p>{{ _('I have read our Media Policy and understand that my session will be recorded and made publicly available following the conference unless otherwise agreed to with the event organizers, in advance.') }}</p>

              <h3>{{ _('Contact Information') }}</h3>
              <p>{{ _('Event Organizer') }}: <a href="mailto:info@devconf.cz">Chris Ward</a>

            <p>&nbsp;</p>

            <p class="smaller-text right-text"><i>{{ _('Thank you to Linux Fest NorthWest, Open Source Bridge and DrupalCon, from whom this policy was heavily influenced.') }}</a>.</i></p>

            <p class="smaller-text right-text"><i>Last Updated: September 1, 2017</i></p>
        </div>
      </div>

      {% include 'devconf-footer.html' %}

    </div>
  </div>

<!-- END body -->
{% endblock %}
