<!-- BEGIN NEWSLETTER SECTION -->
<div style="padding: 5px;">
    <form action="https://devconf.us14.list-manage.com/subscribe/post?u=4405d7552dfc612aef814da21&amp;id=9dfaafef37" method="post" target="_blank" novalidate>
        <div class="form-group">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4405d7552dfc612aef814da21_9dfaafef37" tabindex="-1" value=""></div>
        <button type="submit" class="btn btn-success" 
                title="Stay up to date with DevConf.cz"
                data-toggle="popover" 
                data-trigger="hover" 
                data-placement="top"
                data-content="Updates and event information">
        {{ _('Subscribe to DevConf newsletter') }} &nbsp;&nbsp; <i class="fa fa-envelope" aria-hidden="true"></i>
        </button>
    </form>

</div>
<!-- END NEWSLETTER SECTION-->
