<!-- BEGIN share-bottom -->



<!-- NOT USED -->




    <div class="share-bottom share-light">
      <h3>{{ _('Share') }}</h3>
        <div class="share-socials-bottom">
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://devconf.cz">
                <i class="fa fa-facebook facebook-color"></i>
                {{ _('Facebook') }}
            </a>
            <a href="https://twitter.com/home?status=Check%20out%20DevConf.cz%20https://devconf.cz">
                <i class="fa fa-twitter twitter-color"></i>
                {{ _('Twitter') }}
            </a>
            <a href="https://plus.google.com/share?url=https://devconf.cz">
                <i class="fa fa-google-plus google-color"></i>
                {{ _('Google') }}
            </a>
            <a href="mailto:?&subject=Check out DevConf.cz!&body=https://devconf.cz">
                <i class="fa fa-envelope-o mail-color"></i>
                {{ _('Email') }}
            </a>
            <div class="clear"></div>
        </div>
    </div>

<!-- END share-bottom -->
