<!-- BEING CSS -->

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,800,800italic,900,900italic%7COpen+Sans:400,400i,700%7CRoboto+Mono' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{ '/css/style.css'|url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/css/skin.css'|url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/css/framework.css'|url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/css/site.css'|url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/css/font-awesome.css'|url }}">

<!-- END CSS -->
