{% extends "base.html" %}

{% block title %}DevConf | {{ _('On-site Session Chairs') }}{% endblock %}

{% block body %}
<!-- BEGIN body -->

  <div id="page-content" class="header-clear-full">
    <div id="page-content-scroll">

      <div class="content no-material full-page">
        <div class="centered-page">
          <div class="center-text">
            <h1 class="uppercase">{{ _('On-site Session Chairs') }}</h1>
          </div>
          <div class="decoration-line-fade decoration-margins"></div>
            <!-- Code of Conduct Section -->

            <h4>Session Start</h4>
            <p>
              Someone must be in the room at all times. One session chair per room should arrive ~30 minutes before the day’s first session to get the session chair's package and help get the meeting room ready for talks.
            </p>

            <h4>Room Capacity</h4>
            <p>
              When the room is filling up, help others to find free spots. Please encourage people to move to the center of rows. When the room is full CLOSE the door. Hang the “Full. Do not enter” sign on the door.
            </p>
            <h4>Equipment</h4>
            <p>
              Get familiar with meeting room equipment and help speakers get ready. If there are any problems, find a conference technician. Contacts for technicians are available in chair docs. Do NOT try to ‘fix’ the problem yourself!
            </p>

            <h4>Speaker Preperations</h4>
            <p>
              Before the session starts:
            </p>
            <ul>
              <li>
                 ask the upcoming speaker(s) to test the connection to the internet and presentation system in advance! Ethernet connection for speakers might also be available in some rooms!
              </li>
              <li>
                inform a speaker about Time Tracking and show them the signs (see below). Standard presentation session Q&A time is 5m! Mind that some speakers encourage Q&amp;A during the talk.
              </li>
              <li>
                ask a speaker to repeat all audience questions loudly (and into the mic). See Remote Participation below.
              </li>
            </ul>

            <h4>Session Introduction</h4>
            <p>
              Quickly welcome the audience and introduce yourself, e.g.: “Welcome to DevConf, I’m … ... , your session chair, if you need anything, please come to me. And the next talk is …  by … ”
            </p>
            <p>
              Every speaker must be introduced. What you say exactly depends on your preferences and any arrangement you might make between you and the speaker. Suggestion 1: Simply read some of the speaker’s bio and read the session abstract / description. Suggestion 2: break down the bio and try to describe the speaker(s) in < 5 powerful words.
            </p>

            <h4>USB Flash Drives</h4>
            <p>
              There is a USB flash drive in each room in case someone’s laptop fails to connect to the presentation system. Find someone else with a laptop that works and connect that and use the USB to move their presentation over. Workshop rooms have more usb’s. Ask speakers to load data onto the USB’s in advance! Get the speaker’s slides on to the USB drive before they leave the room if at all possible this makes tracking them down later easier.
            </p>

            <h4>Time Tracking</h4>
            <p>
              it's very important to follow the schedule. You have "5 minutes", "Out of time" signs. "Out of Time" really means STOP NOW. Q&A should start immediately following (unless Q&A happened during the presentation, for example)! During the Q&amp;A portion, use the  “Last question” sign when there is only one or two minutes left. If the speaker or audience is still talking when time runs out, kindly interrupt and ask them to continue the discussion in the hall. Reminder:
            </p>
            <ul>
              <li>
                Short (30m block)- 18m speaking and 5 for Q&amp;A; 7 minutes break.
              </li>
              <li>
                Long (1h block)- 43m speaking and 10 for Q&amp;A; 7 minutes break.
              </li>
            </ul>

            <h4>Remote Participation</h4>
            <p>
              Be aware if your room is live-streaming / recording. Inform the audience and ask everyone to speak as loudly as possible.
            </p>

            <ul>
              <li>
                Questions: Speakers in some rooms will have a hands free microphone. Some rooms will have hand-held microphones. Some rooms have no microphones. Ask the audience to simply ask their questions loudly. Don’t pass the mic around. Remind the speaker to repeat the question into the microphone.
              </li>
              <li>
                General announcements: Sched.com for rating presentation. Remind the presenter that their ratings on sched.com are what help us decide next year if they are a good person to invite back. Enter and leave rooms only during breaks; join Sunday closing session to win contest prizes; Saturday Lightning talk sign-up / voting in D section; join attendees telegram (t.me/devconfus); recommend speakers to publish slides on-line (ie, slideshare.net)
              </li>
            </ul>
            </p>

            <h4>Communication</h4>
            <p>
              You should join <a href="https://t.me/devconfcz">DevConf Organizer channel</a> (Telegram)
            </p>

            <h4>End of the day</h4>
            <p>
              An organizer will come to your room after the last talk ends to check and lock the room. Call one of the organizers if we haven’t arrived within 10m.
            </p>

            <p class="smaller-text right-text"><i>Last Updated: January 17, 2018</i></p>
        </div>
      </div>

      {% include 'devconf-footer.html' %}

    </div>
  </div>

<!-- END body -->
{% endblock %}
