{% extends "base.html" %}

{% block title %}DevConf | {{ _('On-site Volunteer Roles') }}{% endblock %}

{% block body %}
<!-- BEGIN body -->

  <div id="page-content" class="header-clear-full">
    <div id="page-content-scroll">

      <div class="content no-material full-page">
        <div class="centered-page">
          <div class="center-text">
            <h1 class="uppercase">{{ _('On-site Volunteer Roles') }}</h1>
          </div>
          <div class="decoration-line-fade decoration-margins"></div>
            <h3>Room Chair</h3>
            <p>As a room chair, you will be in charge of the following:</p>
            <ul>
              <li>
                ensuring speakers are ready and able to connect to the presentation equipment as needed and resolving issues with technical support staff that will be on-site during the event.
              </li>
              <li>
                ensuring doors are closed and ‘full’ sign is set once room capacity is reached
              </li>
              <li>
                introducing the speakers with a short ~30 second welcome message and bio introduction.
              </li>
              <li>
                watching the clock, warning the speaker of 5 min and 1 minute left marks and stopping the speaker if they go over time.
              </li>
              <li>
                reminding the speaker to ‘repeat the question into the microphone’ when responding to Q&amp;A
              </li>
              <li>
                if you are chairing the last session of the day, also you will be asked to wait for an organizer to close the room and lock it for the day.
              </li>
            </ul>

            <p>
              More detailed Chair instructions can be found <a href="volunteer-session-chairs.html">here</a>.
            </p>

            <h3>Registration / Check-in</h3>
            <p>
              On all days of the event we need a handful of people to help with on-site registration and check-in.</p>
            <p>
              This work consists asking people for their names / emails, clicking ‘check-in’ on a mobile phone app (or laptop), and (eg) giving attendees a simple ‘slip-on’ wristband to put on.
            </p>
            <p>
              We will also need to give speakers their speaker SWAG.
            </p>

            <h3>On-site preparations and clean-up</h3>
            <p>
              Thursday evening before the event starts we will need help preparing the venue and Sunday evening after it ends cleaning it up. Clean-up is obvious. Preparation includes putting up posters and signage, moving chairs/tables around, preparing check-in station, putting wifi info up on whiteboards, etc…
            </p>

            <h3>A/V streaming and video archiving</h3>
            <p>
              We would like to stream from many of the rooms during all three days of the event live and push the recordings to youtube in a timely and orderly fashion.
            </p>

            <h3>A/V / networking technical support</h3>
            <p>
              Someone needs to be available to help presenters who have harder problems to solve than usual. This is an ‘on-call’ position. Your mobile number would be shared with chairs in case of emergency.
            </p>

            <h3>Photographer</h3>
            <p>
              It would be nice to have at least one official photographer at the event.
            </p>
            <h3>Videographer</h3>
            <p>
              If there is interest, it would be nice if someone created at least one ‘highlights’ video for the event. For example, see: https://www.youtube.com/watch?v=hv8lioGTkQY (@dkaspar) and https://www.youtube.com/watch?v=YBj-dh9JDGc (@vpavlin)
            </p>

            <p>
              Other? <a href="mailto:hello@devconf.info">Let us know</a> if you think something is missing or have a question, etc.
            </p>

            <p class="smaller-text right-text"><i>Last Updated: January 17, 2018</i></p>
        </div>
      </div>

      {% include 'devconf-footer.html' %}

    </div>
  </div>

<!-- END body -->
{% endblock %}
