<!-- BEGIN devconfus-2018-eventpage -->
<div class="content">
  <div class="container event-container">

    <div class="material-full-bottom">
      <img data-original="{{ '/images/canva/devconf-in-2019-header.jpg'|url }}" class="preload-image no-bottom responsive-image" alt="img" />

      <div class="menu-bottom-bar menu-bottom-bar-four light-menu-bar menu-bottom-bar-text flat-menu-bar no-top cfp-menu">
        <a href="{{ 'http://bit.ly/devcon_in_2019_cfp' }}" target="_blank" class="border-blue-dark"><i class="fa fa-code"></i><em>Submit a proposal</em></a>
        <a href="{{ 'http://bit.ly/devcon_in_2019_cfp' }}" target="_blank" class="border-magenta-dark selected-bottom-bar"><i class="fa fa-bullhorn"></i><em>Run a booth</em></a>
        <a href="{{ 'http://bit.ly/devcon_in_2019_cfp' }}" target="_blank" class="border-orange-dark"><i class="fa fa-coffee"></i><em>Host a BoF</em></a>
        <a href="{{ 'http://bit.ly/devcon_in_2019_cfp' }}" target="_blank" class="border-night-light"><i class="fa fa-group"></i><em>Volunteer</em></a>
        <div class="clear"></div>
      </div>

      <div class="decoration-line-fade decoration-margins"></div>
      <div class="responsive">
        <p>{{ _('DevConf.IN is the annual Developer&#39;s Conference organized by <a href="https://redhat.com">Red Hat</a>, India. The event provides a platform to the FOSS community participants and enthusiasts to come together and engage in knowledge sharing activities through technical talks, workshops, panel discussions, hackathons and much more.')}}</p>
        <p>{{ _('All you have to do is a FREE registration. There is no admission or ticket charges applicable to be a part of the event. All the event activities will be in English.')}}</p>

        <p>{{_('We are committed to foster an open and welcoming environment for everyone at our conference. We have our inclusive <a href="https://devconf.info/coc.html" target="_blank">code of conduct</a> and <a href="https://devconf.info/media-policy.html" target="_blank">media policies</a>, which we expect to be duly adhered during the event.') }}</p>


        <p><strong>{{ _('The primary themes of this year are:') }}</strong></p>
              <ul>
        <li><strong>{{ _('TRENDING TECH:')}}</strong> {{_('AI, ML, BC, IoT, Mobile') }}</li>

        <li><strong>{{ _('STORAGE AND NETWORKING:')}}</strong> {{_(' Cloud Native Storage, Software Defined Storage, Storage Management, Distributed File System, Datastores, Big Data, NFV/VNF, DPDK, ODL, Software Defined Networking') }}</li>

        <li><strong>{{ _('OPEN HYBRID CLOUD:')}}</strong> {{_(' Multi-Cloud, Automation, OpenStack, Kubernetes, Serverless, Microservices, Containers, OpenShift/PaaS, Hybrid Cloud Management, Operators, CNI, Virtualization, Kernel, Service Mesh') }}</li>

        <li><strong>{{ _('DEVELOPER TOOLS:')}}</strong> {{_(' Container Tooling, CI/CD, DevOps, Code Editors Cloud native IDE, CLI, Local Development for Containers, Language Runtime, Debugging/Tracing, QE') }}</li>

        <li><strong>{{ _('FOSS COMMUNITY &amp; STANDARDS:')}}</strong> {{_(' Community Trends, Governance, Licensing, Participation, Leadership, Agile') }}</li>

        <li><strong>{{ _('WHITE PAPER / ACADEMIC RESEARCH:')}}</strong> {{_(' Computer Science Engineering, New Algorithms, Protocols, Experimental/Future Networks, Data Modelling, Security, Natural Language Processing (NLP)') }}</li>
        
        <li>{{_(' Design, Security, and Data Privacy') }}</li>

        </ul>
      
        <p>{{ _('You should consider attending DevConf event if you are a') }}:</p>
        <ul>
          <li>{{ _('Developer') }}</li>
          <li>{{ _('Technology architect') }}</li>
          <li>{{ _('Technology consultant') }}</li>
          <li>{{ _('Technology enthusiasts interested in the latest trends in open source and emerging digital technologies') }}</li>
        </ul>

        <p><strong>{{ _('When') }}:</strong> {{ _('August 2nd -3rd, 2019') }}</p>
        <p><strong>{{ _('Venue') }}:</strong> {{ _('<a href="https://christuniversity.in/" target="_blank">Christ University</a> - Bengaluru, India') }}</p>
        <p>{{_('Click <a href="https://devconfin19.eventbrite.com/" target="_blank">here</a> to register.') }}</p>
        <p><strong>{{ _('Last Date of Registration:') }}</strong> {{ _('31st July, 2019') }}</p>
        <p>{{_('Click <a href="https://devconf.us14.list-manage.com/subscribe?u=4405d7552dfc612aef814da21&id=9dfaafef37" target="_blank">here</a> for more updates about DevConf. ') }}</p>

        <div class="devconf-registration-widget-container" id="eventbrite-widget-container-62706281175" style="height: 400px; margin-bottom: 10px;"></div>
      </div>
      <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

      <script type="text/javascript">
          var iframeHeight = () => {
          }
          window.EBWidgets.createWidget({
              // Required
              widgetType: 'checkout',
              eventId: '62706281175',
              iframeContainerId: 'eventbrite-widget-container-62706281175',

              // Optional
              iframeContainerHeight: 390,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
          });
      </script>
      <div class="clear"></div>

      <div class="responsive">
        <h3 class="center-text full-bottom">Memories from 2018</h3>
        <div class="gallery gallery-square no-bottom">
          {% for f in range(1, 26) %}
          <a class="show-gallery" href="{{ ('/images/gallery/devconf-in-2018-event-photos/' + f|string + '.jpg')|url }}" alt="img" title="Image Caption">
                <img class="preload-image responsive-image" data-original="{{ ('/images/gallery/devconf-in-2018-event-photos/' + f|string + '.jpg')|url }}" alt="img">
            </a> {% endfor %}
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>

    </div>

    {% include 'in/2019/devconfin-2019-sponsors.html' %}

  </div>
</div>
<!-- END devconfus-2018-eventpage -->
