<!DOCTYPE html>
<html class="no-js">
    <head>
        {% include 'meta.html' %}

        {% block title %}
        <title>DevConf - Free and Open Source Software Community Conferences for Developers</title>
        {% endblock %}

        <!-- Favicon -->
	<link rel="shortcut icon" href="{{ '/images/favicon.png'|url }}" type="image/png">

        {% block css %} {% include 'css.html' %} {% endblock %}

    </head>

  <body id="page-top">

    {% block nav %} {% include 'cz/nav.html' %} {% endblock %}

    {% block body %} {% endblock %}

    {% block footer %} {% include 'footer.html' %} {% endblock %}

  </body>

  {% block scripts %} {% include 'scripts.html' %} {% endblock %}

</html>
