<p>DevConf.cz is a yearly technology conference for Linux and JBoss Developers, 
   Admins and Linux users organized by Red Hat Czech Republic, 
   the Fedora and JBoss Community. With around 1500 participants DevConf.cz 
   is the biggest event about free software in the Czech Republic.</p>

<p>The primary aim of the conference is to provide an opportunity for developers and 
   contributors to meet and discuss about future development. For more information, 
   refer to the <a href="https://devconf.cz">devconf.cz</a> website.</p>

<p>Red Hat is leading industry provider of open-source software and operating systems. 
   Our Linux based open-source software provides a flexible alternative to 
   proprietary operating systems such as UNIX. Renowned within the industry. 
   Red Hat employs more than 10000 employees and maintains operations in 60 
   offices worldwide. Red Hat's url is www.redhat.com. </p>
