{% extends "base.html" %}

{% block title %}
    <title>DevConf - Media Policy</title>
{% endblock %}

{% block body %}

    <!-- Code of Conduct Section -->
    <section id="coc" class="coc-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 logo">
            <h1 class="purple">Media Policy</h1>
          </div>
          <div class="col-sm-12">
            <h3>Vision</h3>
            <p>DevConf.cz organizers strive to create a positive environment that adheres to our <a href="coc.html">Code of Conduct</a> and respects privacy of individuals while educating attendees.</p>

            <h3>Speakers and session recording</h3>
            <p>When you agree to speak at DevConf.cz, you consent for your talk to be recorded in audio and possibly video format. DevConf.cz uses screen capturing hardware along with audio recording equipment to broadcast presentations.</p>

            <p>We reserve the right to publicly distribute and publish these recordings under the Creative Commons Attribution 3.0 license.</p>

            <p>Your session material, including content and recordings may be used in various promotions or for other related endeavors. This material may also appear on the DevConf.cz web site, social media channels or other digital mediums controlled by the DevConf.cz organizing committee.</p>

            <p>As conference organizers, we cannot be all places at once and it is important for us to be able to review all material presented at the conference.  For this reason, you may not opt out of having your talk recorded.  However, if you wish, you may request that the session video not be published to the public.</p>

            <p>Visit the <a
                href="https://www.youtube.com/channel/UCmYAQDZIQGm_kPvemBc_qwg"><i class="fa fa-youtube-play"></i>DevConf.cz YouTube channel</a>.</p>

            <h3>Recording by Attendees</h3>
            <p>All sessions are recorded by official DevConf.cz or venue A/V staff. If you are not the speaker and wish to audio/video record, you must obtain written consent from the speaker first.</p>

            <h3>Staff and attendee photography</h3>
            <p>When you register for DevConf.cz, you consent to be photographed by our official conference photographer, and to have those photographs published under a Creative Commons license and possibly used in various promotional material.</p>

            <p>We encourage attendees to take and share their own photographs, as long as the rules below are followed.</p>
            <ul>
              <li>Any photography/recording that is legally allowed in public spaces is allowed at DevConf.cz.</li>
              <li>Photography/recording should be treated like other potentially harassing interpersonal interaction. That is, when one person in the interaction says “stop” or “leave me alone” (etc), the interaction must end. In this case, attendees should not attempt to photograph that individual again.</li>
              <li>Photography/recording shouldn’t be done in such a way as to hide from the subject that it’s happening.</li>
              <li>The subject may inspect the photo/recording at any time and, if requested, the photo/footage/etc must be deleted immediately.</li>
              <li>Those who are taking photographs and/or recording must also follow our general <a href="coc.html">Code of Conduct</a>.</li>
            </ul>

            <h3>How to opt-out</h3>
            <p>If you do not wish images of yourself to be published, you may opt out by <a href="mailto:info@devconf.cz">contacting us</a> and reasonable efforts will be done to accommodate your request.</p>

            <p>If you are a speaker, you may opt out of having your talk being publically distributed by <a href="mailto:info@devconf.cz">contacting us</a>.</p>

            <h3>How to Report Violations or Issues</h3>
            <p>Please report an violations or issues with recording or photography directly to the front desk at registration, or by contacting us.</p>

            <p>&nbsp;</p>

            <p class="smaller pull-right"><i>Thank you to Linux Fest NorthWest, Open Source Bridge and DrupalCon, from whom this media policy was heavily influenced.</i></p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
