
    <script src="{% static '/static/js/jquery.js' %}"></script>
    <script src="{% static '/static/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/static/js/jquery.easing.min.js' %}"></script>
    <script src="{% static '/static/js/scrolling-nav.js' %}"></script>
    <script src="{% static '/static/js/yt-js.js' %}"></script>
    <script src="{% static '/static/js/js.cookie.js' %}"></script>
    <script src="{% static '/static/js/devconf.js' %}"></script>

    <script>
      (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
    </script>

