<!-- BEGIN NEWSLETTER SECTION -->
<div style="padding: 5px;">
    <form id="newsletter" method="post" action="https://tinyletter.com/devconf_cz">
        <div class="form-group">
        <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email address&hellip;" required>
        </div>
        <button type="submit" class="btn btn-success" data-toggle="popover" data-trigger="hover" 
                data-placement="top" title="Stay up to date with DevConf.cz"
                data-content="Updates and event information">
        {{ _('Subscribe to DevConf newsletter') }} &nbsp;&nbsp; <i class="fa fa-envelope" aria-hidden="true"></i>
        </button>
    </form>
</div>
<!-- END NEWSLETTER SECTION-->
