#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border: 2px solid #8e83e4;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 8000;
}
#return-to-top i {
    color: #8e83e4;
    margin: 0;
    position: relative;
    left: 13px;
    top: 10px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #8e83e4;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
