a.pagination{
    display: inline-block;
    color: #8e83e4;
    border: 2px solid #8e83e4;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.pagination:hover, a.pagination.current {
    background: #8e83e4;
    color: #fff;
    font-weight: 700;
}

div.os-400 h1, div.os-400 h2, div.os-400 h3{
    margin-bottom: 1.5rem!important;
    margin-top: 1.5rem!important;
}

div.os-400 hr{
    margin-top: 3rem!important;
}

blockquote{
    border-left: 4px solid #8e83e4;
    font-weight: 400;
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    font-size: 1.125rem;
}

pre{
    background-color: rgba(237, 242, 247, 1);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    overflow-x: auto;
    padding: 1rem;
}

code{
    background-color: #e2e8f0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1px;
    padding-bottom: 1px;
    color: inherit;
}

code.hljs{
    background-color: transparent;
    padding: 0;
}    

// Code syntax highlighting,
// powered by https://highlightjs.org
@import '~highlight.js/styles/a11y-light.css';
