RewriteEngine On
ErrorDocument 404 https://www.devconf.info/404/index.html
ErrorDocument 500 https://www.devconf.info/404/index.html
#Make sure it's not an actual file
RewriteCond %{REQUEST_FILENAME} !-f
#Make sure its not a directory
RewriteCond %{REQUEST_FILENAME} !-d 
#Rewrite the request to index.php
RewriteRule ^(.*)$ $1.html [L]
