<!-- BEGIN devconfus-2018-eventpage -->
<div class="content">
  <div class="container event-container">

    <div class="material-full-bottom">
      <img data-original="{{ '/images/canva/devconf-in-2019-header.jpg'|url }}" class="preload-image no-bottom responsive-image" alt="img" />

      <div class="menu-bottom-bar menu-bottom-bar-four light-menu-bar menu-bottom-bar-text flat-menu-bar no-top cfp-menu">
        <a href="{{ 'http://bit.ly/devcon_in_2019_cfp' }}" target="_blank" class="border-blue-dark"><i class="fa fa-code"></i><em>Submit a proposal</em></a>
        <a href="{{ 'http://bit.ly/devcon_in_2019_cfp' }}" target="_blank" class="border-magenta-dark selected-bottom-bar"><i class="fa fa-bullhorn"></i><em>Run a booth</em></a>
        <a href="{{ 'http://bit.ly/devcon_in_2019_cfp' }}" target="_blank" class="border-orange-dark"><i class="fa fa-coffee"></i><em>Host a BoF</em></a>
        <a href="{{ 'http://bit.ly/devcon_in_2019_cfp' }}" target="_blank" class="border-night-light"><i class="fa fa-group"></i><em>Volunteer</em></a>
        <div class="clear"></div>
      </div>

      <div class="decoration-line-fade decoration-margins"></div>
      <div class="responsive">
        <p><strong>{{ _('DevConf.IN&#39;19 tickets are officially sold out. Didn&#39;t get a ticket? That&#39;s alright, walk-in to the event and register yourself on the spot.')}}</strong></p>
        <p><strong>{{ _('Come experience the vast ocean of knowledge. Looking forward to seeing you at DevConf.IN&#39;19.')}}</strong></p>

        <p>{{ _('DevConf.IN is the annual developer&#39;s conference organised by <a href="https://redhat.com">Red Hat</a>, India. The conference provides a platform to the FOSS community participants and enthusiasts to come together and engage in knowledge sharing activities through technical talks, workshops, panel discussions, hackathons and much more.')}}</p>
        <p>{{ _('All you have to do is a FREE registration. There is no admission or ticket charges applicable to be a part of the event. All the event activities will be in English.')}}</p>

        <p>{{_('We are committed to foster an open and welcoming environment for everyone at our conference. We have our inclusive <a href="https://devconf.info/coc.html" target="_blank">code of conduct</a> and <a href="https://devconf.info/media-policy.html" target="_blank">media policies</a>, which we expect to be duly adhered during the event.') }}</p>


        <p><strong>{{ _('The primary tracks for this year are:') }}</strong></p>
              <ul>
        <li>{{_('Trending Tech') }}</li>

        <li>{{_('AI / ML') }}</li>

        <li>{{_('Storage') }}</li>

        <li>{{_('Networking') }}</li>

        <li>{{_('Open Hybrid Cloud') }}</li>
        
        <li>{{_('Developer Tools (Devtools)') }}</li>

        <li>{{_('Kernel') }}</li>

        <li>{{_('FOSS Community & Standards') }}</li>

        <li>{{_('Academic Research/White Paper, and') }}</li>

        <li>{{_('Security') }}</li>

        </ul>
      
        <p>{{ _('If you are a technology enthusiasts interested in the latest trends in open source and emerging digital technologies this is the place for you to be.') }}</p>
        <div class="clear"></div>
        <div class="one-half-responsive" >
          <p><strong>{{ _('When') }}:</strong> {{ _('August 2nd -3rd, 2019') }}</p>
          <p><strong>{{ _('Venue') }}:</strong> {{ _('<a href="https://christuniversity.in/" target="_blank">Christ University</a> - Bengaluru, India') }}</p>
          <p>{{_('Click <a href="https://devconf.us14.list-manage.com/subscribe?u=4405d7552dfc612aef814da21&id=9dfaafef37" target="_blank">here</a> for more updates about DevConf. ') }}</p>
          <p><strong>{{ _('Last Date of Registration:') }}</strong> {{ _('31st July, 2019') }}</p>
        </div>
        <div class="one-half-responsive last-column" style="overflow: hidden">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.5844676839224!2d77.60388741437485!3d12.93440739088029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15b277a93807%3A0x88518f37b39dabd0!2sChrist+University!5e0!3m2!1sen!2sin!4v1562854067097!5m2!1sen!2sin" width="400" height="110" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="clear">
        <br/>
        <p><strong>{{ _(' Walk-in/On spot registrations are available on either days of the event') }}</strong></p>
        </div>
        <div class="devconf-registration-widget-container" id="eventbrite-widget-container-62706281175" style="height: 400px; margin-top: 10px; margin-bottom: 10px"></div>
      </div>
      <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

      <script type="text/javascript">
          var iframeHeight = () => {
          }
          window.EBWidgets.createWidget({
              // Required
              widgetType: 'checkout',
              eventId: '62706281175',
              iframeContainerId: 'eventbrite-widget-container-62706281175',

              // Optional
              iframeContainerHeight: 390,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
          });
      </script>
      <p>{{_('Alternate Registration <a href="https://devconfin19.eventbrite.com/" target="_blank">Link</a> | <strong>Walk-in/On spot registrations available</strong>') }}</p>
      <div class="clear"></div>

      <div class="responsive">
        <h3 class="center-text full-bottom">Memories from 2018</h3>
        <div class="gallery gallery-square no-bottom">
          {% for f in range(1, 25) %}
          <a class="show-gallery" href="{{ ('/images/gallery/devconf-in-2018-event-photos/' + f|string + '.jpg')|url }}" alt="img" title="Image Caption">
                <img class="preload-image responsive-image" data-original="{{ ('/images/gallery/devconf-in-2018-event-photos/' + f|string + '.jpg')|url }}" alt="img">
            </a> {% endfor %}
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>

    </div>

    {% include 'in/2019/devconfin-2019-sponsors.html' %}

  </div>
</div>
<!-- END devconfus-2018-eventpage -->
