{% extends "base.html" %}

{% block title %}
<title>{{ _('DevConf.cz Roadshow - Containers Bratislava 2017') }}</title>
{% endblock %}

{% block nav_logo %}<img src="{{ '/images/devconf-cz-webopt.svg'|static }}" class="navbar-brand top-branding" />{% endblock %}

{% block body %}

    <!-- Home Section -->
    <header id="intro" class="intro-section">
      <div class="container padding-top-md">
        <div class="row">
          <div class="col-sm-12 intro-content">
            <div class = "alert alert-danger">
		    <b>{{ _('Registration is CLOSED for this event!') }}</b>
            </div>

            <div>
		    <img src="{{ '/images/devconf-cz-roadshow-bratislava-landing.png'|static }}" style="width: 30%;" />
            </div>

            <div class="tagline">Containers Roadshow</div>

            <div class="time-and-place">
              <address>Connect Olive</address>
              <address>Stromovej 54/A, Bratislava [SK]</address>
              <div class="date">
                <time datetime="2017-06-14">Wednesday June 14, 2017</time>
              </div>
            </div>

            <p>Presentations and workshops will be in Czech / Slovak.</p>
          </div>

          <div class="col-sm-offset-2 col-sm-8 intro-content">
            <h2 class='description'>
              DevConf.cz is proud to bring you another free, one day containers focused community conference. This time, in Bratislava!
            </h2>
          </div>
    </header>

    <!-- PROGRAM -->
    <section id="schedule" class="schedule-section">
          <h2>Program</h2>
          <div class="col-sm-offset-2 col-sm-8">
              <!--
               agenda template bootstrap
               source: http://bootsnipp.com/snippets/featured/agenda
              -->
              <h1>Wednesday June 14, 2017</h1>
              <p>On-site registration: 09:00 - 10:00</p>
              <br/>
              <div class="agenda">
                  <div class="table-responsive">
                      <table class="table table-condensed table-white-bg larger" cellspacing="0" cellpadding="0">
                          <tbody>
                              <tr>
                                  <td class="agenda-room" rowspan="8">
                                      <p>Lecture Hall</p>
                                  </td>
                                  <td class="agenda-time">
                                      10:00 - 10:30
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p>Automate modern app development with containers and OpenShift - Jiří Kolář</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      10:30 - 11:00
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p>Containers: history and current state on Linux - Michal Sekletár</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      11:00 - 11:30
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p>How to develop containers for the enterprise - Honza Horák</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      11:30 - 12:00
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p>Docker containers and black holes - František Kluknavský + Matus Kocka</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      12:00 - 13:30
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p><i>Snack Break</i></p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      13:30 - 14:00
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p>Managing containers with Ansible - Peter Schiffer </p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      14:00 - 14:30
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p>Modularity and Docker Containers - Matus Kocka</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      14:30 - 15:00
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                        <p>Demo time! - Vašek Pavlín + David Bečvařík</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-room" rowspan="3">
                                    <p>Workshop Room</p>
                                  </td>
                                  <td class="agenda-time"></td>
                                  <td class="agenda-events"></td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      10:30 - 12:30
                                  </td>
				  <td class="agenda-events">
                                      <div class="agenda-event">
                                         <p>Hands-on Introduction to Containers on SmartOS - Daniel Kontsek + Ján Poctavek</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="agenda-time">
                                      13:00 - 14:30
                                  </td>
                                  <td class="agenda-events">
                                      <div class="agenda-event">
                                        <p>Containers Quickstart - David Bečvařík</p>
                                      </div>
                                  </td>
                              </tr>

                          </tbody>
                      </table>
                      <br/><br/>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SPEAKERS -->
    <section id="speakers" class="speakers-section">
      <h2>Speakers</h2>
      <div class="container"><br><br>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-purple">
            <div class="panel-body">
		    <img src="{{ '/images/msekletar.jpg'|static }}" class="pic_ina img-thumbnail"/>
                <div class="con_ina">
                <b> Michal Sekletár </b><br>
                <p>Senior Software Engineer, Red Hat</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
            <div class="panel-body">
		    <img src="{{ '/images/dbecvarik.jpg'|static }}" class="pic_ina img-thumbnail"/>
                <div class="con_ina">
                <b> David Bečvařík </b><br>
                <p>Community Leader at Prague Containers Meet-up</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-purple">
            <div class="panel-body">
		    <img src="{{ '/images/danielkontsek.jpg'|static }}" class="pic_ina img-thumbnail"/>
                <div class="con_ina">
                <b>Daniel Kontsek</b><br>
                <p>Co-founder of Erigones, System Architect, Pythonista</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-purple">
            <div class="panel-body">
		    <img src="{{ '/images/jan_poctavek.jpg'|static }}" class="pic_ina img-thumbnail"/>
                <div class="con_ina">
                <b>Ján Poctavek </b><br>
                <p>Danube Cloud - open source virtualization software</p>
                </div>
            </div>
            </div>
        </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
                <div class="panel-body">
			<img src="{{ '/images/hhorak.jpg'|static }}" class="pic_ina img-thumbnail"/>
                    <div class="con_ina">
                    <b> Honza Horák </b><br>
                    <p>Associate Manager, Software Engineering, Red Hat</p>
                    </div>
                </div>
            </div>
            </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
                <div class="panel-body">
			<img src="{{ '/images/jkolar.jpg'|static }}" class="pic_ina img-thumbnail"/>
                    <div class="con_ina">
                    <b> Jiří Kolář </b><br>
                    <p>Red Hat Middleware Solution Architect for CZ-SK and CEE region</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
                <div class="panel-body">
			<img src="{{ '/images/pschiffe.jpg'|static }}" class="pic_ina img-thumbnail"/>
                    <div class="con_ina">
                    <b> Peter Schiffer </b><br>
                    <p>Senior Software Engineer, OpenShift, Red Hat</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
                <div class="panel-body">
			<img src="{{ '/images/vpavlin.jpg'|static }}" class="pic_ina img-thumbnail"/>
                    <div class="con_ina">
                    <b> Vašek Pavlín </b><br>
                    <p>Senior Software Engineer, Red Hat</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
            <div class="panel-body">
		    <img src="{{ '/images/mkocka.jpg'|static }}" class="pic_ina img-thumbnail"/>
                <div class="con_ina">
                <b> Matus Kocka </b><br/>
                <p>Software Engineer, Red Hat</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-panel-red">
            <div class="panel-body">
		    <img src="{{ '/images/fkluknavsky.jpg'|static }}" class="pic_ina img-thumbnail"/>
                <div class="con_ina">
                <b> František Kluknavský </b><br/>
                <p>Associate Software Engineer, Red Hat</p>
                </div>
            </div>
            </div>
        </div>
      </div>
      </div>
    </section>


    <!-- VENUE -->
    <section id="venue" class="venue-section">
        <h2>Venue <a href="https://osm.org/go/0LBIK5Tgf"><i class="fa fa-map-o" aria-hidden="true"></i></a> <br/> <small class="white">(Connect Olive - Stromovej 54/A)</small></h2>
      <iframe width="100%" height="500px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=17.09048062562943%2C48.16714268503942%2C17.094021141529087%2C48.16871870442653&amp;layer=mapnik&amp;marker=48.16793070078684%2C17.092250883579254" style="border: 1px solid black"></iframe>
    </section>

    <!-- Sponsors -->
    <section id="sponsors" class="sponsors-section">
      <h2>Sponsors</h2>
      <div class="container">
        <h3>This event is brought to you by:</h3>
        <div class="row">
          <div class="col-lg-12">
		  <a href="https://www.redhat.com/en/global/czech-republic"><img alt="Red Hat, Czech" src="{{ '/images/logo_redhat_rgb_default.png'|static }}">
            <div class="sponsor-desc">
                <p>World's leading provider of open source, enterprise IT solutions.</p>
            </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>And supported by our friends at:</h4>
          </div>

          <div class="col-lg-6 sponsor">
            <a href="https://www.openshift.com">
		    <img alt="OpenShift" src="{{ '/images/openshift_logo_cropped_250w.png'|static }}">
                <div class="sponsor-desc">
                <p>OpenShift is an open source PaaS by Red Hat based on top of Docker containers and the Kubernetes container cluster manager for enterprise app development and deployment.</p>
                </div>
                </a>
          </div>

          <div class="col-lg-6 sponsor">
            <a href="https://mojefedora.cz">
		    <img alt="MojeFedora CZ" src="{{ '/images/cropped-mojefedora-250x-150y.png'|static }}">
              <div class="sponsor-desc">
                <p>Czech website about Fedora Linux distribution. Articles, guides, news and place for discussion at one place.</p>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>

{% endblock %}
