<!-- BEGIN devconfus-2019-eventpage -->
<div class="content">
  <div class="container event-container">

    <div class="material-full-bottom">
      <img data-original="{{ '/images/canva/devconf-us-2019-header.jpg'|url }}" class="preload-image no-bottom responsive-image" alt="img" />
      <div class="menu-bottom-bar menu-bottom-bar-four light-menu-bar menu-bottom-bar-text flat-menu-bar no-top cfp-menu">
        <a href="{{ 'http://bit.ly/devconf_us-cfp'|url(lang=lang) }}" target="_blank" class="border-blue-dark"><i class="fa fa-code"></i><em>Submit a proposal</em></a>
        <a href="{{ 'http://bit.ly/devconf_us-cfp'|url(lang=lang) }}" target="_blank" class="border-magenta-dark selected-bottom-bar"><i class="fa fa-bullhorn"></i><em>Run a booth</em></a>
        <a href="{{ 'http://bit.ly/devconf_us-cfp'|url(lang=lang) }}" target="_blank" class="border-orange-dark"><i class="fa fa-coffee"></i><em>Host a BoF</em></a>
        <a href="{{ 'http://bit.ly/devconf_us-cfp'|url(lang=lang) }}" target="_blank" class="border-night-light"><i class="fa fa-leaf"></i><em>Volunteer</em></a>
        <div class="clear"></div>
      </div>

      <!--

      <div class="notification-small border-green-dark" style="margin-bottom: 5px; margin-top: 5px">
          <strong class="bg-green-dark"><i class="fa fa-bell"></i></strong>
          <p>{{_('<a href="https://devconf.info/us/2019/schedule" target="_blank">Schedule is live</a>') }}</p>
      </div>

      <div class="notification-small border-red-dark" style="margin-bottom: 5px; margin-top: 5px">
          <strong class="bg-red-dark"><i class="fa fa-bell"></i></strong>
          <p>{{_('Walk-in registration only!') }}</p>
      </div>
      -->

      <!--
      <div class="notification-small border-green-dark" style="margin-bottom: 5px; margin-top: 5px">
          <strong class="bg-green-dark"><i class="fa fa-info"></i></strong>
          <p>{{_('<a href="https://wiki.centos.org/Events/Dojo/DevConfUS2019" target="_blank">CentOS dojo</a> side-event announced') }}</p>
      </div>
      -->

      <div class="decoration-line-fade decoration-margins"></div>
      <div class="responsive">
        <p>{{ _('DevConf.US 2019 is the 2nd annual, free, <a href="https://redhat.com">Red Hat</a> sponsored technology conference for community project and professional contributors to Free and Open Source technologies at the Boston University in the historic city of Boston, USA.') }}</p>
        <p><strong>{{ _('When') }}:</strong> {{ _('Thursday, August 15 to Saturday, August 17, 2019') }}</p>
        <p><strong>{{ _('Venue') }}:</strong> <a href="https://www.openstreetmap.org/way/130209090" target="_blank">{{ _('Boston University, George Sherman Union Building') }}</a> (775 Commonwealth Avenue, Boston)
          <p>{{ _('You should consider attending this DevConf event if you are') }}:</p>
          <ul>
            <li>{{ _('A developer') }}</li>
            <li>{{ _('A technology architect') }}</li>
            <li>{{ _('An IT consultant') }}</li>
            <li>{{ _('An IT student or a teacher from an IT university/faculty') }}</li>
            <li>{{ _('Or simply an IT enthusiast interested in the latest trends in open source and emerging digital technologies') }}</li>
          </ul>

          <p>{{ _('The primary event themes this year are') }}:</p>
          <ul>
            <li>{{ _('Containers and orchestration') }}</li>
            <li>{{ _('Machine learning and artificial intelligence') }}</li>
            <li>{{ _('Serverless computing') }}</li>
            <li>{{ _('Middleware technologies') }}</li>
            <li>{{ _('Operating systems') }}</li>
            <li>{{ _('Testing, debugging, tracing, and software quality') }}</li>
            <li>{{ _('User experience') }}</li>
 	    <li>{{ _('Open source commuunity management and processes') }}</li>
          </ul>

          <p>{{ _('DevConf events are free, without admission or ticket charge. On-line registration is required though.') }}</p>
          <p>{{ _('Talks, presentations, and workshops will all be in English.') }}</p>

          <p>Join us on Wednesday, August 14th, the day before the main event, for a day of <a href="https://wiki.centos.org/Events/Dojo/DevConfUS2019" target="_blank">CentOS talks and community gatherings </a></p>
          <h3>{{ ('Diversity scholarships') }}:</h3>
            <p>In an effort to create a more diverse and inclusive event, we will be offering diversity scholarships that cover travel-related expenses for attendees from outside of Red Hat who are students or are relatively new or returning to full-time work in technology. As DevConf.US is the DevConf for the North America region, these scholarships will only be available to people from these locations.</p>
            <p>Details for these scholarships will be posted as soon as they are finalized.</p>
	  <h3>{{ ('Centos Dojo') }}:</h3>
	    <p>The CentOS and Fedora communities will be holding a Dojo on August 14th, 2019 - the day before DevConf.US begins - at Boston University, in the Balcony Room of the George Sherman Union building.</p>
	    <p>Checkout more information about CentOS Dojo at <a href="https://wiki.centos.org/Events/Dojo/DevConfUS2019" target="_blank">Dojo at DevConf.US</a> and Dojo Call For Papers at <a href="https://docs.google.com/forms/d/e/1FAIpQLSev8wmfF-SzuUP-2PG_6tuqHy-0ePhCjHl7CybHKleas8rulg/viewform" target="_blank">CFP</a>.</p>
          <h3>{{ ('Important dates') }}:</h3>
          <ul>
            <li>{{ _('CfP Opens') }}: <b>{{ _('January 27th, 2019') }}</b></li>
            <li>{{ _('CfP Closes') }}: <b>{{ _('April 8, 2019') }}</b></li>
            <li><strike>{{ _('Accepted speakers confirmation') }}: <b>{{ _('May 16th, 2019') }}</b></strike></li>
            <li><strike>{{ _('Accepted speakers confirmation') }}: <b>{{ _('May 27th, 2019') }}</b></strike></li>
            <li>{{ _('Accepted speakers confirmation begins') }}: <b>{{ _('June 9th, 2019') }}</b></li>
            <li>{{ _('Initial schedule published') }}: <b>{{ _('June 24th, 2019') }}</b></li>
            <li>{{ _('Registration opens') }}: <b>{{ _('<a href="https://devconf-us.eventbrite.com">June 9th, 2019</a>') }}</b></li>
            <li>{{ _('Event dates') }}: <b>{{ _('Thursday, August 15 to Saturday, August 17, 2019') }}</b></li>
          </ul>
      </div>
      <div class="clear"></div>
    </div>

    {% include 'us/2019/devconfus-2019-proposal-writing.html' %}

    {% include 'us/2019/devconfus-2019-coaching.html' %}

    {% include 'us/2019/devconfus-2019-inclusion.html' %}
    <div class="responsive">
      <p>Travel information will be launched as soon as it is finalized!</p>
    </div>  
    <div class="clear"></div>
    {% include 'us/2019/devconfus-2019-sponsors.html' %}

  </div>
</div>
<!-- END devconfus-2019-eventpage -->
