<!-- BEGIN devconfcz-2019-eventpage -->

<div class="content">
  <div class="container event-container">
    <div class="material-full-bottom">
      <img data-original="{{ '/images/canva/devconf-cz-2019-brno-header.jpg'|url }}" class="preload-image no-bottom responsive-image" alt="img" />

      <div class="menu-bottom-bar menu-bottom-bar-three light-menu-bar menu-bottom-bar-text flat-menu-bar no-top cfp-menu">
        <a href="https://devconf.info/cfp" target="_blank" class="border-blue-dark"><i class="fa fa-code"></i><em>Submit a proposal</em></a>
        <a href="https://devconf.info/cfp" target="_blank" class="border-magenta-dark selected-bottom-bar"><i class="fa fa-bullhorn"></i><em>Run a booth</em></a>
        <a href="https://devconf.info/cfp" target="_blank" class="border-orange-dark"><i class="fa fa-coffee"></i><em>Host a meet-up</em></a>
        <div class="clear"></div>
      </div>

<!--      <div class="notification-small border-green-dark">
	  <strong class="bg-green-dark"><i class="fa fa-info"></i></strong>
	   <p>{{_('<a href="https://goo.gl/forms/KB9Z28RTILiYTiOz1" target="_blank">CfP for young speakers under age of 19</a>') }}</p>
      </div>
-->

      <div class="decoration-line-fade decoration-margins"></div>
      <div class="responsive">
	<h2 class="center-text full-bottom">Youth Friendly DevConf.CZ 2019</h2>
        <p>{{ _('For the first time in the history of DevConf, the upcoming 11th free open source conference DevConf.CZ 2019 invites young speakers under age of 19 to:') }}</p>

          <ul>
            <li>{{ _('give them an opportunity to share their ideas, projects and show their talent in open source') }}</li>
            <li>{{ _('demonstrate that FOSS technologies are there for everyone in every age') }}</li>
            <li>{{ _('promote FOSS technologies usable anywhere from kindergartens to universities') }}</li>
          </ul>
	<p>{{ _('DevConf.CZ organizers see an ideal speaker as an young student, that have a certain interest and experience in open source technologies, with good English [1], willing to present at DevConf.CZ in front of a mixed audience, i.e. adult visitors and young guests.') }}</p>
	<p>{{ _('Each young speaker can choose a time duration of their talk or workshop (5, 10, 20, 30 min) Talks or workshops can be solo and collaborative.') }}</p>
	<p>{{ _('The CfP deadline for young speakers differs from other submissions and is extended to November 2. The accepted speakers will be announced on November 12.') }}</p>
	<p>{{ _('All DevConf.CZ participants younger than 17 must be accompanied by a parent or guardian.') }}</p>
	<p>{{ _('[1] DevConf.CZ conference is in English. The organizers can make some exceptions for Czech only speakers, with suggestions to make slides in English.') }}</p>
<!--
          <h3>{{ _('Registration') }}:</h3>
          <ul>
            <li>{{ _('Online registration opens: TBA') }}</li>
            <li>{{ _('On-site (at venue) registration is possible between 8AM-10AM each day! Limited capacity though (~100 per day).') }}</li>
          </ul>
-->

    <div class="responsive">
      <h3>{{ ('Important dates') }}</h3>
      <ul>
        <li>{{ _('CfP closes') }}: {{ _('November 2, 2018') }}</li>
        <li>{{ _('Accepted speakers confirmation') }}: {{ _('November 12, 2018') }}</li>
        <li>{{ _('Schedule published') }}: {{ _('December 10, 2018') }}</li>
        <li>{{ _('Event dates') }}: {{ _('Friday, January 25 to Sunday, January 27, 2019') }}</li>
      </ul>
    </div>

  <div class="clear"></div>

    {% include 'cz/2019/devconfcz-2019-sponsors.html' %}

  </div>
</div>
<!-- END devconfcz-2019-eventpage -->
